<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>__#HTMLABOUTTITLE#__</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta http-equiv="content-script-type" content="text/javascript" />
    <meta http-equiv="content-style-type" content="text/css" />
</head>
<style>
    body
    {
        margin: 0px 0px 0px 0px;
        color: #000000;
        font-family: arial,verdana,helvetica,sans-serif;
        background: white;
        font-size: 11px;
        height: 100%%;
    }
    table.AboutBox
    {
        width: 98%%;
        background-color:#FFFFFF;
    }
    .AboutBoxTitle
    {
        font-size:18px;
        font-weight:bold;
        color:#0082B4;
        width: 100%%;
    }
    hr.AboutBoxSep
    {
        color:#0082B4;
        background-color:#0082B4;
        width: 100%%;
        height:3px;
        border: 0px;
    }
    .AboutBoxBanner
    {
        background-color:#004282;
        width:100%%;
    }
    .AboutBoxText
    {
        font-size:10pt;
        color:#000000;
        width:100%%;
    }
    .AboutBoxTextBold
    {
        font-weight:bold;
        font-size:12pt;
        color:#000000;
        width:100%%;
    }
</style>
<body>
    <table cellpadding="5" cellspacing="0" border="0" class="AboutBox" align="center">
        <tr>
            <td>
                <table cellspacing="0" cellpadding="0" class="AboutBoxTitle" align="left" vspace="0">
                    <tr>
                        <td>
                            <div align="left" class="AboutBoxTitle">__#HTMLABOUTTITLE#__</div>
                        </td>
                        <td>
                            <div align="right"><input type="button" value="__#BUTTONCLOSE#__" onClick="self.close();"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <hr class="AboutBoxSep" noshade>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td class="AboutBoxText">
                __#HTMLABOUTSERVERVERSION#__<br>
                __#HTMLABOUTVIEWERVERSION#__<br>
            </td>
        </tr>
        <tr>
            <td class="AboutBoxText">
                __#HTMLABOUTTEXT#__
            </td>
        </tr>
    </table>
</body>
</html>
