<frameset rows="%s,*,%s" frameborder=0 border=0>
    <frame name="tbFrame" %s noresize scrolling=no>
    <frameset name="maparea" cols="*,%s,0,0" frameborder=0 border=0>
        <frame name="mapFrame" src="%s?MAPDEFINITION=%s&TYPE=%s&SHOWLEGEND=%s&SHOWPROP=%s&INFOWIDTH=%s&LOCALE=%s&HLTGT=%s&HLTGTNAME=%s&SHOWSLIDER=%s%s" noresize scrolling=no>
        <frame name="taskFrame" %s noresize frameborder=1 border=1 scrolling=no>
        <frame name="formFrame" noresize src="%s">
        <frame name="scriptFrame" src="../viewerfiles/blank.html" noresize>
    </frameset>
    <frame name="sbFrame" %s noresize scrolling=no>
</frameset>