<?xml version="1.0" encoding="UTF-8"?>
<LayerDefinition version="1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="LayerDefinition-1.0.0.xsd">
    <VectorLayerDefinition>
      <ResourceId>%s</ResourceId>
      <FeatureName>%s</FeatureName>
      <FeatureNameType>FeatureClass</FeatureNameType>
      <Geometry>%s</Geometry>
%s    </VectorLayerDefinition>
  </LayerDefinition>
