<LineRule>
    <LegendLabel>%s</LegendLabel>
    <Filter>%s</Filter>
    <LineSymbolization2D>
    <LineStyle>%s</LineStyle>
    <Thickness>%s</Thickness>
    <Color>%s</Color>
    <Unit>%s</Unit>
    <SizeContext>%s</SizeContext>
    </LineSymbolization2D>
</LineRule>
