<?xml version="1.0" encoding="UTF-8"?>
<LayerDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="LayerDefinition-2.4.0.xsd" version="2.4.0">
  <VectorLayerDefinition>
    <ResourceId>%s</ResourceId>
    <FeatureName>%s</FeatureName>
    <FeatureNameType>FeatureClass</FeatureNameType>
    <Geometry>%s</Geometry>
    %s
  </VectorLayerDefinition>
</LayerDefinition>
