<LineRule>
  <LegendLabel>%s</LegendLabel>
  <Filter>%s</Filter>
  <LineSymbolization2D>
    <LineStyle>Solid</LineStyle>
    <Thickness>1</Thickness>
    <Color>%s</Color>
    <Unit>Points</Unit>
    <SizeContext>DeviceUnits</SizeContext>
  </LineSymbolization2D>
</LineRule>
