<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <Product
       Id="*"
       UpgradeCode="5D9A7DE3-485E-43E0-A4C8-3582E4D80051"
       Name="$(var.MgName)"
       Version="$(var.MgVersion)"
       Language="1033" 
       Manufacturer="Dummy" >

    <Package Id="*" InstallerVersion="300" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" />

    <Upgrade Id="5D9A7DE3-485E-43E0-A4C8-3582E4D80051">
      <UpgradeVersion Property="PREVIOUSVERSIONSINSTALLED" Minimum="0.0.0" IncludeMinimum="yes" Maximum="$(var.MgVersion)" IncludeMaximum="no"/>
      <UpgradeVersion Property="NEWPRODUCTFOUND" Minimum="$(var.MgVersion)" IncludeMinimum="no" OnlyDetect="yes" />
    </Upgrade>

    <Condition Message="A later version of [ProductName] is already installed.">NOT NEWPRODUCTFOUND</Condition>    
    
    <Media Id="1" Cabinet="Test.cab" EmbedCab="yes" CompressionLevel="none" />

    <Property Id="MG_APP_POOL" Secure="yes" Value="MapGuideAppPool" />
    <Property Id="MG_WEBSITE" Secure="yes" Value="Default Web Site" />
    <Property Id="MG_VDIR" Secure="yes" Value="mapguide" />

    <Property Id="MGWEB_CONFIG" Secure="yes" Value="IIS">
      <RegistrySearch
        Id="MgWebConfigRs"
        Type="raw"
        Root="HKLM"
        Key="$(var.MgRegKey)"
        Name="MGWEB_CONFIG" />
    </Property>

    <Property Id="IIS_API_TYPE" Secure="yes" Value="PHP">
      <RegistrySearch
        Id="IisApiTypeRs"
        Type="raw"
        Root="HKLM"
        Key="$(var.MgRegKey)"
        Name="IIS_API_TYPE"  />
    </Property>

    <Property Id="IISVERSIONMAJOR" Value="#7" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder" Name="Programs"/>
      <Directory Id="DesktopFolder" Name="Desktop"/>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION" Name="Dummy">
          <Directory Id="WEBROOTLOCATION" Name="Web">
            <Component Id="WebStuff" Guid="64F4589F-9E16-47F9-AA05-D914CBA3736D" Feature="WebExtensionsFeature">
              <RegistryKey Id="MapGuideKey" Action="create" Root="HKLM" Key="$(var.MgRegKey)">
                <RegistryValue Id="IisApiType" Action="write" Type="string" Name="IIS_API_TYPE" Value="[IIS_API_TYPE]" />
                <RegistryValue Id="MgWebConfig" Action="write" Type="string" Name="MGWEB_CONFIG" Value="[MGWEB_CONFIG]" />
              </RegistryKey>
              <RemoveFile Id="MapGuideWebConfig" On="uninstall" Name="web.config" Property="WwwLocation" />
              <RemoveFile Id="MapAgentWebConfig" On="uninstall" Name="web.config" Property="MapagentLocation" />
              <RemoveFile Id="MapviewerNetWebConfig" On="uninstall" Name="web.config" Property="MapviewerNetLocation" />
              <RemoveFile Id="MapviewerPhpWebConfig" On="uninstall" Name="web.config" Property="MapviewerPhpLocation" />
              <CreateFolder />
            </Component>
            <Directory Id="PhpLocation" Name="Php">
              <Component Id="PhpIsapiComponent" Guid="1F8F392F-370B-492B-B6D3-B66B287DD842" Feature="WebExtensionsFeature">
                  <File Id="PhpIsapiFile" Source=".\DummyInstaller.wxs" Name="php5isapi.dll" />
              </Component>
            </Directory>
            <Directory Id="WwwLocation" Name="www">
              <Directory Id="MapagentLocation" Name="mapagent">
                <Component Id="MapagentIsapiComponent" Guid="5DEC79C5-677F-4BD9-9DD2-67FA760A4916" Feature="WebExtensionsFeature">
                  <File Id="MapagentIsapiFile" Source=".\DummyInstaller.wxs" Name="isapi_MapAgent.dll" />
                </Component>
              </Directory>
              <Directory Id="MapadminLocation" Name="mapadmin">
                <Component Id="MapadminDirComponent" Guid="7737795A-8B4E-462E-937D-722E16A6C7B8" Feature="WebExtensionsFeature">
                  <CreateFolder />
                </Component>
              </Directory>
              <Directory Id="MapviewerNetLocation" Name="mapviewernet">
                <Component Id="MapviewerNetDirComponent" Guid="FB65B3A0-F093-4A95-998B-149F8A3DD77A" Feature="WebExtensionsFeature">
                  <CreateFolder />
                </Component>
              </Directory>
              <Directory Id="MapviewerPhpLocation" Name="mapviewerphp">
                <Component Id="MapviewerPhpDirComponent" Guid="C2AD1A67-14C4-4FA9-9649-08E234041E67" Feature="WebExtensionsFeature">
                  <CreateFolder />
                </Component>
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="WebExtensionsFeature" Title="DummyWeb" Level="1" ConfigurableDirectory="WEBROOTLOCATION" Description="This is really, really dumb!"  AllowAdvertise="no" TypicalDefault="install" InstallDefault="local" Display="expand" Absent="disallow" />

    <UIRef Id="WixUI_Minimal"/>

    <InstallExecuteSequence>

      <RemoveExistingProducts After="InstallValidate">PREVIOUSVERSIONSINSTALLED</RemoveExistingProducts>

      <!-- IIS7 Base properties for deferred actions -->
      <Custom Action="MapGuideIIS7_I_AppCmd_Cmd" After="CostFinalize">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_CreateAppPool_Cmd" After="MapGuideIIS7_I_AppCmd_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_SetAppPoolProp_Cmd" After="MapGuideIIS7_I_CreateAppPool_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_UnlockSrvHandlers_Cmd" After="MapGuideIIS7_I_SetAppPoolProp_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_UnlockSiteHandlers_Cmd" After="MapGuideIIS7_I_UnlockSrvHandlers_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_CreateMapGuideApp_Cmd" After="MapGuideIIS7_I_UnlockSiteHandlers_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_CreatePhpScriptMapping_Cmd" After="MapGuideIIS7_I_CreateMapGuideApp_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_EnablePhpExtension_Cmd" After="MapGuideIIS7_I_CreatePhpScriptMapping_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_CreateMapAgentApp_Cmd" After="MapGuideIIS7_I_EnablePhpExtension_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_SetMapAgentHandlerAccess_Cmd" After="MapGuideIIS7_I_CreateMapAgentApp_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_CreateMapAgentScriptHandling_Cmd" After="MapGuideIIS7_I_SetMapAgentHandlerAccess_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_EnableMapAgentExtension_Cmd" After="MapGuideIIS7_I_CreateMapAgentScriptHandling_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_AssignMapGuideAppPool_Cmd" After="MapGuideIIS7_I_EnableMapAgentExtension_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_AssignMapAgentAppPool_Cmd" After="MapGuideIIS7_I_AssignMapGuideAppPool_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_UnlockHttpErrorsMain_Cmd" After="MapGuideIIS7_I_AssignMapAgentAppPool_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_UnlockHttpErrorsWebSite_Cmd" After="MapGuideIIS7_I_UnlockHttpErrorsMain_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_UnlockHttpErrorsMapGuide_Cmd" After="MapGuideIIS7_I_UnlockHttpErrorsWebSite_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_Reset401Handler_Cmd" After="MapGuideIIS7_I_UnlockHttpErrorsMapGuide_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_AddJsonMime_Cmd" After="MapGuideIIS7_I_Reset401Handler_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>

      <!-- IIS7 PHP Viewer properties for deferred actions -->
      <Custom Action="MapGuideIIS7_I_CreateViewerPhp_Cmd" After="MapGuideIIS7_I_AddJsonMime_Cmd">MGWEB_CONFIG = "IIS" AND IIS_API_TYPE = "PHP" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_SetViewerDocPhp_Cmd" After="MapGuideIIS7_I_CreateViewerPhp_Cmd">MGWEB_CONFIG = "IIS" AND IIS_API_TYPE = "PHP" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_AssignViewerAppPoolPhp_Cmd" After="MapGuideIIS7_I_SetViewerDocPhp_Cmd">MGWEB_CONFIG = "IIS" AND IIS_API_TYPE = "PHP" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>

      <!-- IIS7 ASP.Net Viewer properties for deferred actions -->
      <Custom Action="MapGuideIIS7_I_CreateViewerNet_Cmd" After="MapGuideIIS7_I_Reset401Handler_Cmd">MGWEB_CONFIG = "IIS" AND IIS_API_TYPE = "DOTNET" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_SetViewerDocNet_Cmd" After="MapGuideIIS7_I_CreateViewerNet_Cmd">MGWEB_CONFIG = "IIS" AND IIS_API_TYPE = "DOTNET" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_AssignViewerAppPoolNet_Cmd" After="MapGuideIIS7_I_SetViewerDocNet_Cmd">MGWEB_CONFIG = "IIS" AND IIS_API_TYPE = "DOTNET" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>

      <!-- IIS7 Base deferred CAs -->
      <Custom Action="MapGuideIIS7_I_CreateAppPool" After="InstallFiles">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_SetAppPoolProp" After="MapGuideIIS7_I_CreateAppPool">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_UnlockSrvHandlers" After="MapGuideIIS7_I_SetAppPoolProp">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_UnlockSiteHandlers" After="MapGuideIIS7_I_UnlockSrvHandlers">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_CreateMapGuideApp" After="MapGuideIIS7_I_UnlockSiteHandlers">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_CreatePhpScriptMapping" After="MapGuideIIS7_I_CreateMapGuideApp">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_EnablePhpExtension" After="MapGuideIIS7_I_CreatePhpScriptMapping">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_CreateMapAgentApp" After="MapGuideIIS7_I_EnablePhpExtension">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_SetMapAgentHandlerAccess" After="MapGuideIIS7_I_CreateMapAgentApp">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_CreateMapAgentScriptHandling" After="MapGuideIIS7_I_SetMapAgentHandlerAccess">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_EnableMapAgentExtension" After="MapGuideIIS7_I_CreateMapAgentScriptHandling">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_AssignMapGuideAppPool" After="MapGuideIIS7_I_EnableMapAgentExtension">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_AssignMapAgentAppPool" After="MapGuideIIS7_I_AssignMapGuideAppPool">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_UnlockHttpErrorsMain" After="MapGuideIIS7_I_AssignMapAgentAppPool">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_UnlockHttpErrorsWebSite" After="MapGuideIIS7_I_UnlockHttpErrorsMain">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_UnlockHttpErrorsMapGuide" After="MapGuideIIS7_I_UnlockHttpErrorsWebSite">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_Reset401Handler" After="MapGuideIIS7_I_UnlockHttpErrorsMapGuide">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_AddJsonMime" After="MapGuideIIS7_I_Reset401Handler">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>

      <!-- IIS7 PHP Viewer deferred CAs -->
      <Custom Action="MapGuideIIS7_I_CreateViewerPhp" After="MapGuideIIS7_I_AddJsonMime">MGWEB_CONFIG = "IIS" AND IIS_API_TYPE = "PHP" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_SetViewerDocPhp" After="MapGuideIIS7_I_CreateViewerPhp">MGWEB_CONFIG = "IIS" AND IIS_API_TYPE = "PHP" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_AssignViewerAppPoolPhp" After="MapGuideIIS7_I_SetViewerDocPhp">MGWEB_CONFIG = "IIS" AND IIS_API_TYPE = "PHP" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>

      <!-- IIS7 DOTNET Viewer deferred CAs -->
      <Custom Action="MapGuideIIS7_I_CreateViewerNet" After="MapGuideIIS7_I_Reset401Handler">MGWEB_CONFIG = "IIS" AND IIS_API_TYPE = "DOTNET" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_SetViewerDocNet" After="MapGuideIIS7_I_CreateViewerNet">MGWEB_CONFIG = "IIS" AND IIS_API_TYPE = "DOTNET" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>
      <Custom Action="MapGuideIIS7_I_AssignViewerAppPoolNet" After="MapGuideIIS7_I_SetViewerDocNet">MGWEB_CONFIG = "IIS" AND IIS_API_TYPE = "DOTNET" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature > 2</Custom>

      <!-- IIS7 UNINSTALL deferred action properties -->
      <Custom Action="MapGuideIIS7_U_AppCmd_Cmd" After="InstallInitialize">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature = 2</Custom>
      <Custom Action="MapGuideIIS7_U_ClearMapAgentRestriction_Cmd" After="MapGuideIIS7_U_AppCmd_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature = 2</Custom>
      <Custom Action="MapGuideIIS7_U_ClearPhpRestriction_Cmd" After="MapGuideIIS7_U_ClearMapAgentRestriction_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature = 2</Custom>
      <Custom Action="MapGuideIIS7_U_RemoveViewer_Cmd" After="MapGuideIIS7_U_ClearPhpRestriction_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature = 2</Custom>
      <Custom Action="MapGuideIIS7_U_RemoveMapAgent_Cmd" After="MapGuideIIS7_U_RemoveViewer_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature = 2</Custom>
      <Custom Action="MapGuideIIS7_U_RemoveMapGuide_Cmd" After="MapGuideIIS7_U_RemoveMapAgent_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature = 2</Custom>
      <Custom Action="MapGuideIIS7_U_DeleteAppPool_Cmd" After="MapGuideIIS7_U_RemoveMapGuide_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature = 2</Custom>

      <!-- IIS7 UNINSTALL deferred CAs -->
      <Custom Action="MapGuideIIS7_U_ClearMapAgentRestriction" After="MapGuideIIS7_U_DeleteAppPool_Cmd">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature = 2</Custom>
      <Custom Action="MapGuideIIS7_U_ClearPhpRestriction" After="MapGuideIIS7_U_ClearMapAgentRestriction">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature = 2</Custom>
      <Custom Action="MapGuideIIS7_U_RemoveViewer" After="MapGuideIIS7_U_ClearPhpRestriction">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature = 2</Custom>
      <Custom Action="MapGuideIIS7_U_RemoveMapAgent" After="MapGuideIIS7_U_RemoveViewer">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature = 2</Custom>
      <Custom Action="MapGuideIIS7_U_RemoveMapGuide" After="MapGuideIIS7_U_RemoveMapAgent">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature = 2</Custom>
      <Custom Action="MapGuideIIS7_U_DeleteAppPool" After="MapGuideIIS7_U_RemoveMapGuide">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7" AND &amp;WebExtensionsFeature = 2</Custom>

    </InstallExecuteSequence>

    <!-- ************************* Custom Actions for IIS7 INSTALL ***************************************** -->

    <CustomAction Id="MapGuideIIS7_I_AppCmd_Cmd" Property="AppCmd" Execute="immediate" Value="&quot;[WindowsFolder]system32\inetsrv\APPCMD.EXE&quot;" />
   
    <!-- IIS7 Base MapGuide INSTALL -->

    <!-- Create the application pool -->
    <CustomAction Id="MapGuideIIS7_I_CreateAppPool_Cmd" Property="MapGuideIIS7_I_CreateAppPool" Execute="immediate"
        Value="[AppCmd] add apppool /name:&quot;[MG_APP_POOL]&quot;" />
    <CustomAction Id="MapGuideIIS7_I_CreateAppPool" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Set the application pool's properties -->
    <CustomAction Id="MapGuideIIS7_I_SetAppPoolProp_Cmd" Property="MapGuideIIS7_I_SetAppPoolProp" Execute="immediate"
        Value="[AppCmd] set config /section:applicationPools /[\[]name='[MG_APP_POOL]'[\]].processModel.idleTimeout:00:00:00  /[\[]name='[MG_APP_POOL]'[\]].recycling.disallowOverlappingRotation:True" />
    <CustomAction Id="MapGuideIIS7_I_SetAppPoolProp" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Unlock handlers at the server level -->
    <CustomAction Id="MapGuideIIS7_I_UnlockSrvHandlers_Cmd" Property="MapGuideIIS7_I_UnlockSrvHandlers" Execute="immediate"
        Value="[AppCmd] unlock config /section:handlers" />
    <CustomAction Id="MapGuideIIS7_I_UnlockSrvHandlers" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Unlock handlers at the website level -->
    <CustomAction Id="MapGuideIIS7_I_UnlockSiteHandlers_Cmd" Property="MapGuideIIS7_I_UnlockSiteHandlers" Execute="immediate"
        Value="[AppCmd] unlock config &quot;[MG_WEBSITE]&quot; /section:handlers" />
    <CustomAction Id="MapGuideIIS7_I_UnlockSiteHandlers" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Create the "mapguide" virtual directory / app -->
    <CustomAction Id="MapGuideIIS7_I_CreateMapGuideApp_Cmd" Property="MapGuideIIS7_I_CreateMapGuideApp" Execute="immediate"
        Value="[AppCmd] add app /site.name:&quot;[MG_WEBSITE]&quot; /path:&quot;/[MG_VDIR]&quot; /physicalPath:&quot;[WEBROOTLOCATION]www&quot;" />
    <CustomAction Id="MapGuideIIS7_I_CreateMapGuideApp" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Set up the PHP script mapping -->
    <CustomAction Id="MapGuideIIS7_I_CreatePhpScriptMapping_Cmd" Property="MapGuideIIS7_I_CreatePhpScriptMapping" Execute="immediate"
        Value="[AppCmd] set config &quot;[MG_WEBSITE]/[MG_VDIR]&quot; /section:handlers /+[\[]name='&quot;PHP ISAPI handler&quot;',path='*.php',verb='*',scriptProcessor='&quot;[WEBROOTLOCATION]Php\php5isapi.dll&quot;',modules='IsapiModule',resourceType='Unspecified'[\]]" />
    <CustomAction Id="MapGuideIIS7_I_CreatePhpScriptMapping" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Allow access to the PHP ISAPI -->
    <CustomAction Id="MapGuideIIS7_I_EnablePhpExtension_Cmd" Property="MapGuideIIS7_I_EnablePhpExtension" Execute="immediate"
        Value="[AppCmd] set config /section:isapiCgiRestriction /+[\[]path='&quot;[WEBROOTLOCATION]Php\php5isapi.dll&quot;',allowed='True',description='&quot;MapGuide PHP ISAPI handler&quot;'[\]]" />
    <CustomAction Id="MapGuideIIS7_I_EnablePhpExtension" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Create the MapAgent application -->
    <CustomAction Id="MapGuideIIS7_I_CreateMapAgentApp_Cmd" Property="MapGuideIIS7_I_CreateMapAgentApp" Execute="immediate"
        Value="[AppCmd] add app /site.name:&quot;[MG_WEBSITE]&quot; /path:&quot;/[MG_VDIR]/mapagent&quot; /physicalPath:&quot;[WEBROOTLOCATION]www\mapagent&quot;" />
    <CustomAction Id="MapGuideIIS7_I_CreateMapAgentApp" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Unlock handlers at the MapAgent level -->
    <CustomAction Id="MapGuideIIS7_I_SetMapAgentHandlerAccess_Cmd" Property="MapGuideIIS7_I_SetMapAgentHandlerAccess" Execute="immediate"
        Value="[AppCmd] set config &quot;[MG_WEBSITE]/[MG_VDIR]/mapagent&quot; /section:handlers /accessPolicy:Read,Script,Execute" />
    <CustomAction Id="MapGuideIIS7_I_SetMapAgentHandlerAccess" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Set up the MapAgent script mapping -->
    <CustomAction Id="MapGuideIIS7_I_CreateMapAgentScriptHandling_Cmd" Property="MapGuideIIS7_I_CreateMapAgentScriptHandling" Execute="immediate"
        Value="[AppCmd] set config &quot;[MG_WEBSITE]/[MG_VDIR]/mapagent&quot; /section:handlers /+[\[]name='&quot;MapGuide MapAgent ISAPI handler&quot;',path='mapagent.fcgi',verb='*',scriptProcessor='&quot;[WEBROOTLOCATION]www\mapagent\isapi_MapAgent.dll&quot;',modules='IsapiModule'[\]]" />
    <CustomAction Id="MapGuideIIS7_I_CreateMapAgentScriptHandling" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Allow access to the MapAgent ISAPI -->
    <CustomAction Id="MapGuideIIS7_I_EnableMapAgentExtension_Cmd" Property="MapGuideIIS7_I_EnableMapAgentExtension" Execute="immediate"
        Value="[AppCmd] set config /section:isapiCgiRestriction /+[\[]path='&quot;[WEBROOTLOCATION]www\mapagent\isapi_MapAgent.dll&quot;',allowed='True',description='&quot;MapGuide MapAgent ISAPI handler&quot;'[\]]" />
    <CustomAction Id="MapGuideIIS7_I_EnableMapAgentExtension" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Make the MapGuide application run in the MapGuide app pool -->
    <CustomAction Id="MapGuideIIS7_I_AssignMapGuideAppPool_Cmd" Property="MapGuideIIS7_I_AssignMapGuideAppPool" Execute="immediate"
        Value="[AppCmd] set app &quot;[MG_WEBSITE]/[MG_VDIR]&quot; /applicationPool:&quot;[MG_APP_POOL]&quot;" />
    <CustomAction Id="MapGuideIIS7_I_AssignMapGuideAppPool" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Make the MapAgent application run in the MapGuide app pool -->
    <CustomAction Id="MapGuideIIS7_I_AssignMapAgentAppPool_Cmd" Property="MapGuideIIS7_I_AssignMapAgentAppPool" Execute="immediate"
        Value="[AppCmd] set app &quot;[MG_WEBSITE]/[MG_VDIR]/mapagent&quot; /applicationPool:&quot;[MG_APP_POOL]&quot;" />
    <CustomAction Id="MapGuideIIS7_I_AssignMapAgentAppPool" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Unlock the httpErrors configuration section for the entire server -->
    <CustomAction Id="MapGuideIIS7_I_UnlockHttpErrorsMain_Cmd" Property="MapGuideIIS7_I_UnlockHttpErrorsMain" Execute="immediate"
        Value="[AppCmd] unlock config /section:httpErrors" />
    <CustomAction Id="MapGuideIIS7_I_UnlockHttpErrorsMain" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Unlock the httpErrors configuration section for the web site -->
    <CustomAction Id="MapGuideIIS7_I_UnlockHttpErrorsWebSite_Cmd" Property="MapGuideIIS7_I_UnlockHttpErrorsWebSite" Execute="immediate"
        Value="[AppCmd] unlock config &quot;[MG_WEBSITE]&quot; /section:httpErrors" />
    <CustomAction Id="MapGuideIIS7_I_UnlockHttpErrorsWebSite" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Unlock the httpErrors configuration section for the MapGuide application -->
    <CustomAction Id="MapGuideIIS7_I_UnlockHttpErrorsMapGuide_Cmd" Property="MapGuideIIS7_I_UnlockHttpErrorsMapGuide" Execute="immediate"
        Value="[AppCmd] unlock config &quot;[MG_WEBSITE]/[MG_VDIR]&quot; /section:httpErrors" />
    <CustomAction Id="MapGuideIIS7_I_UnlockHttpErrorsMapGuide" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Reset the 401 error handlers to their default undecorated responses -->
    <CustomAction Id="MapGuideIIS7_I_Reset401Handler_Cmd" Property="MapGuideIIS7_I_Reset401Handler" Execute="immediate"
        Value="[AppCmd] set config &quot;[MG_WEBSITE]/[MG_VDIR]&quot; /section:httpErrors /-[\[]statusCode='401'[\]]" />
    <CustomAction Id="MapGuideIIS7_I_Reset401Handler" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Add a MIME type for JSON -->
    <CustomAction Id="MapGuideIIS7_I_AddJsonMime_Cmd" Property="MapGuideIIS7_I_AddJsonMime" Execute="immediate"
        Value="[AppCmd] set config /section:staticContent /+&quot;[\[]fileExtension='.json',mimeType='application/json'[\]]&quot;" />
    <CustomAction Id="MapGuideIIS7_I_AddJsonMime" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- ************************* IIS7 PHP Viewer INSTALL ***************************************** -->

    <!-- Create the application / virtual directory pointing mapviewerajax to mapviewerphp  -->
    <CustomAction Id="MapGuideIIS7_I_CreateViewerPhp_Cmd" Property="MapGuideIIS7_I_CreateViewerPhp" Execute="immediate"
        Value="[AppCmd] add app /site.name:&quot;[MG_WEBSITE]&quot; /path:&quot;/[MG_VDIR]/mapviewerajax&quot; /physicalPath:&quot;[WEBROOTLOCATION]www\mapviewerphp&quot;" />
    <CustomAction Id="MapGuideIIS7_I_CreateViewerPhp" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Set the default document for mapviewerajax to ajaxviewer.php -->
    <CustomAction Id="MapGuideIIS7_I_SetViewerDocPhp_Cmd" Property="MapGuideIIS7_I_SetViewerDocPhp" Execute="immediate"
        Value="[AppCmd] set config &quot;[MG_WEBSITE]/[MG_VDIR]/mapviewerajax&quot; /section:defaultDocument /+files.[\[]value='ajaxviewer.php'[\]]" />
    <CustomAction Id="MapGuideIIS7_I_SetViewerDocPhp" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Make the MapAgent application run in the MapGuide app pool -->
    <CustomAction Id="MapGuideIIS7_I_AssignViewerAppPoolPhp_Cmd" Property="MapGuideIIS7_I_AssignViewerAppPoolPhp" Execute="immediate"
        Value="[AppCmd] set app &quot;[MG_WEBSITE]/[MG_VDIR]/mapviewerajax&quot; /applicationPool:&quot;[MG_APP_POOL]&quot;" />
    <CustomAction Id="MapGuideIIS7_I_AssignViewerAppPoolPhp" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- ************************* IIS7 ASP.Net Viewer INSTALL ***************************************** -->

    <!-- Create the MapAgent application -->
    <CustomAction Id="MapGuideIIS7_I_CreateViewerNet_Cmd" Property="MapGuideIIS7_I_CreateViewerNet" Execute="immediate"
        Value="[AppCmd] add app /site.name:&quot;[MG_WEBSITE]&quot; /path:&quot;/[MG_VDIR]/mapviewerajax&quot; /physicalPath:&quot;[WEBROOTLOCATION]www\mapviewernet&quot;" />
    <CustomAction Id="MapGuideIIS7_I_CreateViewerNet" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Set the default document for mapviewerajax to ajaxviewer.aspx -->
    <CustomAction Id="MapGuideIIS7_I_SetViewerDocNet_Cmd" Property="MapGuideIIS7_I_SetViewerDocNet" Execute="immediate"
        Value="[AppCmd] set config &quot;[MG_WEBSITE]/[MG_VDIR]/mapviewerajax&quot; /section:defaultDocument /+files.[\[]value='ajaxviewer.aspx'[\]]" />
    <CustomAction Id="MapGuideIIS7_I_SetViewerDocNet" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Make the MapAgent application run in the MapGuide app pool -->
    <CustomAction Id="MapGuideIIS7_I_AssignViewerAppPoolNet_Cmd" Property="MapGuideIIS7_I_AssignViewerAppPoolNet" Execute="immediate"
        Value="[AppCmd] set app &quot;[MG_WEBSITE]/[MG_VDIR]/mapviewerajax&quot; /applicationPool:&quot;[MG_APP_POOL]&quot;" />
    <CustomAction Id="MapGuideIIS7_I_AssignViewerAppPoolNet" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- ************************* IIS7 All Features UNINSTALL ***************************************** -->

    <CustomAction Id="MapGuideIIS7_U_AppCmd_Cmd" Property="AppCmd" Execute="immediate" Value="&quot;[WindowsFolder]system32\inetsrv\APPCMD.EXE&quot;" />

    <!-- Remove entry in ISAPI/CGI Restrictions for the MapAgent -->
    <CustomAction Id="MapGuideIIS7_U_ClearMapAgentRestriction_Cmd" Property="MapGuideIIS7_U_ClearMapAgentRestriction" Execute="immediate"
        Value="[AppCmd] set config /section:isapiCgiRestriction /-[\[]path='&quot;[WEBROOTLOCATION]www\mapagent\isapi_MapAgent.dll&quot;'[\]]" />
    <CustomAction Id="MapGuideIIS7_U_ClearMapAgentRestriction" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Remove entry in ISAPI/CGI Restrictions for PHP -->
    <CustomAction Id="MapGuideIIS7_U_ClearPhpRestriction_Cmd" Property="MapGuideIIS7_U_ClearPhpRestriction" Execute="immediate"
        Value="[AppCmd] set config /section:isapiCgiRestriction /-[\[]path='&quot;[WEBROOTLOCATION]Php\php5isapi.dll&quot;'[\]]" />
    <CustomAction Id="MapGuideIIS7_U_ClearPhpRestriction" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Remove MapViewerAjax application -->
    <CustomAction Id="MapGuideIIS7_U_RemoveViewer_Cmd" Property="MapGuideIIS7_U_RemoveViewer" Execute="immediate"
        Value="[AppCmd] delete app &quot;[MG_WEBSITE]/[MG_VDIR]/mapviewerajax&quot;" />
    <CustomAction Id="MapGuideIIS7_U_RemoveViewer" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Remove MapAgent application -->
    <CustomAction Id="MapGuideIIS7_U_RemoveMapAgent_Cmd" Property="MapGuideIIS7_U_RemoveMapAgent" Execute="immediate"
        Value="[AppCmd] delete app &quot;[MG_WEBSITE]/[MG_VDIR]/mapagent&quot;" />
    <CustomAction Id="MapGuideIIS7_U_RemoveMapAgent" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Remove MapGuide application -->
    <CustomAction Id="MapGuideIIS7_U_RemoveMapGuide_Cmd" Property="MapGuideIIS7_U_RemoveMapGuide" Execute="immediate"
        Value="[AppCmd] delete app &quot;[MG_WEBSITE]/[MG_VDIR]&quot;" />
    <CustomAction Id="MapGuideIIS7_U_RemoveMapGuide" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

    <!-- Remove MapGuide App Pool -->
    <CustomAction Id="MapGuideIIS7_U_DeleteAppPool_Cmd" Property="MapGuideIIS7_U_DeleteAppPool" Execute="immediate"
        Value="[AppCmd] delete apppool &quot;[MG_APP_POOL]&quot;" />
    <CustomAction Id="MapGuideIIS7_U_DeleteAppPool" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="deferred" Return="ignore" Impersonate="no"/>

  </Product>
</Wix>