/* 01/12/2007 Bill Crawford - Implemented gray banners */

/* head tabs */
div.head-tabs {
}

/* head-tab table */
div.head-tabs table {
font-size: 9pt;
color: white;
margin-top: 0pt;
margin-bottom: 0pt;
background: transparent;
border: none;
position: relative;
top: 1px;
}

/* head-tab row */
div.head-tabs tr {
vertical-align: middle;
}

@media print {

    div.head-tabs tr {
    position: relative;
    left: -2px;
    }

}

/* head-tab sides */
td.tab-edge {
padding: 0px;
}

@media print {

   td.tab-edge {
   visibility: hidden;
   }

} /* @media print */

/* head-tab bodies */
td.tab {
padding-left: 1em;
padding-right: 1em;
padding-top: 0px;
padding-bottom: 0px;
background-image: url(../images/tab-bkg.gif);
cursor: hand;
vertical-align: middle;
}

@media print {

    td.tab {
    border: 2 solid #999;
    background-image: none;
    }

} /* @media print */

/* head-tab bodies, selected */
td.tab-active {
padding-left: 1em;
padding-right: 1em;
padding-top: 0px;
padding-bottom: 0px;
background-image: url(../images/tab-bkg-x.gif);
cursor: default;
vertical-align: middle;
}

@media print {

    td.tab-active {
    border: 2 solid #038;
    background-image: none;
    }

} /* @media print */

/* head-tab bodies, dimmed */
td.tab-disabled {
padding-left: 1em;
padding-right: 1em;
padding-top: 0px;
padding-bottom: 0px;
background-image: url(../images/tab-bkg-o.gif);
cursor: default;
vertical-align: middle;
}

/* head-tab text */
td.tab span {
color: white;
width: 100%;
padding: 0px;
}

@media print {

    td.tab span {
    color: #999;
    }

} /* @media print */

/* head-tab text, selected */
td.tab-active span {
	color: #569;
	font-weight: bold;
	padding: 0px;
	position: relative;
	top: 0px;
}

/* head-tab text, dimmed */
td.tab-disabled span {
	width: 100%;
	color: #666;
	position: relative;
	top: 0px;
	visibility: hidden;
}

/* head-region bottom margin */
div.head-margin {
	line-height: 0pt;
	padding-bottom: 6pt;
}

div.see-also {
	margin-top: 18pt;
	padding-top: 2pt;
	border-top: 1 solid #449;
}

span.see-also {
	color: #338;
	font-weight: bold;
}

div.topic-list {
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}


.topiclist-litem {
	margin-bottom: 6pt;
}

/* data table */
/* also used in dialog box topics */
table.ref-data {
margin-top: 0;
margin-bottom: 0;
border: none;
font-size: 9pt;
border: none;
}

/* data table td */
table.ref-data td {
padding-left: 0;
padding-bottom: 12pt;
}

/* TABLES */
TABLE.Plain
{background-color: transparent;
color: black;
border-bottom: none;
font-family: Verdana;
font-size: 9pt;
line-height: 12pt;
margin-bottom: 0pt;
margin-top: 0pt;
text-align: left}

TD.Plain
{color: black;
padding-bottom: 0pt;
padding-left: 0pt;
padding-right: 0pt;
padding-top: 0pt;
vertical-align: baseline}


.qrEntryHeadTitle, .qrEntryTitle, .qrTitle
{
    font-size:9pt;
    padding: 3pt 2pt 3pt 2pt;
    margin-top: 5pt;
    margin-bottom: 5pt;
}

.qrEntryHeadTitle, .qrEntryTitle
{
    font-weight:bold;
    color:white;
 }

.qrEntryHeadTitle, .qrEntryTitle, .qrEntryValue
{
   padding-left: 7pt;
}

.qrEntryValue
{
    font-size:9pt;
}

a.qrItemLink
{
display: none;
color: #333399;
text-decoration:none;
}

.qrEntryHeadTitle
{
    background-color: #3366AA;
}

.qrEntryTitle
{
    background-color: #6699CC;
}
.qrTitle
{
display: none;
color:#993333;
background-color: #FFAA66;
vertical-align: middle;
text-align : center;
}


div.qrItem
{
}

div.qrentryheadtitle {
background-color: #35a;
}

div.qrentrytitle {
background-color: transparent;
color: #038;
font-size: 10pt;
padding-left: 0;
padding-bottom: 0;
margin-bottom: 0;
margin-top: 8pt;
}

div.qrentryvalue {
padding-left: 0;
padding-top: 0;
margin-top: 4pt;
}

div.qrentryvalue img.qricon {
margin-top: 4;
}

table.ref-data td {
width: 0;
}

table.ref-data {
border: none;
}

hr.qr-line1
{
display: none;
height:3px;
color:#FFAA66;
}

hr.qr-line2
{
display: none;
height:3px;
color:#3366AA;
}


/* collapsible */

div.collapsible {
margin-top: 10pt;
margin-bottom: 5pt;
}

img.collapsible {
cursor: hand;
}

div.collapsible-section {
}

span.collapsible-section-title {
color: #027;
font-family: Verdana;
font-size: 10pt;
font-weight: bold;
padding-left: 5;
cursor: hand;
}

/*******************************************************************************/
/* Definition Lists                                                            */
/*                                                                             */
/*******************************************************************************/

/* definition list */
table.dl {
font-size: 10pt;
}

/* in a definition list, a term-definition pair */
tr.dl-pair {
}

td.term {
width: 100pt;
vertical-align: baseline;
padding-left: 0;
padding-right: 12pt;
}

td.definiton {
vertical-align: baseline;
padding: 0;
}

/* Civil 3D quick reference sections */

div.section {
margin-top: 12pt;
}

span.term {
font-size: 10pt;
font-weight: bold;
color: #36c;
}

div.definition {
margin-bottom: 10pt;
}

div.definition p {
margin-top: 4pt;
}

div.definition ul {
margin-top: 0pt;
}

div.definition li {
margin-top: 4pt;
}


/*******************************************************************************/
/* Links                                                                       */
/*                                                                             */
/*******************************************************************************/

/* definition links (glossary links) */
span.term a {
color: green;    /* 'green' = #070 */
text-decoration: none;
border-bottom: 1px dotted green;
}

/* definition links */
span.term a:visited {
color: green;
}


/*******************************************************************************/ 
/* Tables                                                                      */ 
/*                                                                             */ 
/*******************************************************************************/ 

p.table-title {
font-weight: bold;
color: #338;
}

/* Ruled Tables */ 

table.ruled { 
font-size: 1em; 
line-height: 1.3em; 
width: 100%; 
margin-top: 1.4em; 
margin-bottom: 1.4em; 
border-bottom: 3px solid #78b; 
border-top: 4px solid #78b; 
background-color: #e8e8f0; 
}

table.ruled-wide { 
font-size: 1em; 
line-height: 1.3em; 
width: 100%; 
margin-top: 1.4em; 
margin-bottom: 1.4em; 
border-bottom: 3px solid #78b; 
border-top: 4px solid #78b; 
background-color: #e8e8f0; 
}

table.ruled th { 
color: white; 
background-color: #78b; 
padding-left: 10pt; 
padding-right: 10pt;
padding-top: 3px; 
padding-bottom: 8px; 
vertical-align: center;
}

table.ruled-wide th { 
color: white; 
background-color: #78b; 
padding-left: 10pt; 
padding-right: 10pt;
padding-top: 3px; 
padding-bottom: 8px; 
vertical-align: center;
}

table.ruled td { 
padding-left: 10pt; 
padding-right: 10pt;
padding-top: 4pt; 
padding-bottom: 5pt; 
border-bottom: 1px solid #78b;
vertical-align: baseline;
}

table.ruled-wide td { 
padding-left: 10pt; 
padding-right: 10pt;
padding-top: 4pt; 
padding-bottom: 5pt; 
border-bottom: 1px solid #78b; 
vertical-align: baseline;
}

/* Unruled Tables */ 

table.not-ruled, table.not-ruled-wide { 
font-size: 1em; 
line-height: 1.3em; 
width: 0; 
margin-top: 1em; 
margin-bottom: 1em; 
}

table.not-ruled th, table.not-ruled-wide th { 
color: #338;
padding-right: 20pt;
padding-top: 4pt; 
padding-bottom: 2pt; 
vertical-align: text-bottom;
}

table.not-ruled td, table.not-ruled-wide td { 
padding-left: 0; 
padding-right: 20pt;
padding-top: 2pt; 
padding-bottom: 2pt; 
vertical-align: baseline;
}

/* tables in list elements */
li table.ruled, li table.ruled-wide, li table.not-ruled, li table.not-ruled-wide {
width: 0;
}

/* paras within tables */
table.ruled p, table.ruled-wide p, table.not-ruled p, table.not-ruled-wide p {
margin-top: 2pt;
margin-bottom: 2pt;
}

/* div.note_xx within tables */
table.ruled div.note-note, 
table.ruled-wide div.note-note, 
table.not-ruled div.note-note, 
table.not-ruled-wide div.note-note {
margin-top: 2pt;
margin-bottom: 2pt;
}

/* ul's within tables */
table.ruled ul, table.ruled-wide ul, table.not-ruled ul, table.not-ruled-wide ul {
margin-top: 2pt;
margin-bottom: 2pt;
}

/* ol's within tables */
table.ruled ol, table.ruled-wide ol, table.not-ruled ol, table.not-ruled-wide ol {
margin-top: 2pt;
margin-bottom: 2pt;
}

/* li's within tables */
table.ruled li, table.ruled-wide li, table.not-ruled li, table.not-ruled-wide li {
margin-top: 0;
margin-bottom: 2pt;
}

@media print {

    table.ruled-wide th.table-heading {
    color: #78b;
    background-color: transparent;
    padding-top: 4pt;
    border-bottom: 4 solid #78b;
    }

} /* @media print */

