<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

    <DirectoryRef Id="INSTALLLOCATION">
      <Directory Id="SERVERROOTLOCATION" Name="MapGuide Server" >
        <Directory Id="FDOLOCATION" Name="FDO" />
        <Directory Id="SERVERBINLOCATION" Name="Bin" />
        <Directory Id="SERVERCSMAPLOCATION" Name="CSMap">
          <Component Id="SERVERCSMAPCOMPONENT" Guid="552EAF5E-2420-4C2A-A52C-62B456EE1F64" Feature="ServerFeature">
            <CreateFolder />
            <Environment Id="CsMapEnvVar"
               Action="set"
               Part="all"
               Name="MENTOR_DICTIONARY_PATH"
               Permanent="no"
               System="yes"
               Value="[SERVERCSMAPDICTIONARIESLOCATION]" />
          </Component>
        </Directory>
        <Directory Id="SERVERLOGSLOCATION" Name="Logs">
          <Component Id="SERVERLOGSCOMPONENT" Guid="B8107569-201D-4FAC-B1B1-BB3AC7207782" Feature="ServerFeature">
            <CreateFolder />
          </Component>
        </Directory>
        <Directory Id="SERVERPACKAGESLOCATION" Name="Packages">
          <Component Id="SERVERPACKAGESCOMPONENT" Guid="58B60D26-35CB-4343-9854-EBC766C775B2" Feature="ServerFeature">
            <CreateFolder />
          </Component>
        </Directory>
        <Directory Id="SERVERREPOSITORIESLOCATION" Name="Repositories">
          <Directory Id="SERVERREPOSITORIESLIBRARYLOCATION" Name="Library">
            <Directory Id="SERVERREPOSITORIESLIBRARYDATAFILESLOCATION" Name="DataFiles">
              <Component Id="SERVERREPOSITORIESLIBRARYDATAFILESCOMPONENT" Guid="12998202-7FEE-448B-9371-42193B12EC7E" Feature="ServerFeature">
                <CreateFolder />
              </Component>
            </Directory>
          </Directory>
          <Directory Id="SERVERREPOSITORIESSESSIONLOCATION" Name="Session">
            <Directory Id="SERVERREPOSITORIESSESSIONDATAFILESLOCATION" Name="DataFiles">
              <Component Id="SERVERREPOSITORIESSESSIONDATAFILESCOMPONENT" Guid="28C0B4C0-7516-43C5-94D4-8AAF4C0DB6EE"  Feature="ServerFeature">
                <CreateFolder />
              </Component>
            </Directory>
          </Directory>
          <Directory Id="SERVERREPOSITORIESSITELOCATION" Name="Site">
            <Component Id="SERVERREPOSITORIESSITECOMPONENT" Guid="FAD5C161-00B2-4A26-A0B1-9F82DE049E0B" Feature="ServerFeature">
              <CreateFolder />
            </Component>
          </Directory>
          <Directory Id="SERVERREPOSITORIESTILECACHELOCATION" Name="TileCache">
            <Component Id="SERVERREPOSITORIESTILECACHECOMPONENT" Guid="902988DA-F9F8-4827-9CC0-63756A4BEE2E" Feature="ServerFeature">
              <CreateFolder />
            </Component>
          </Directory>
        </Directory>
        <Directory Id="SERVERTEMPLOCATION" Name="Temp">
          <Component Id="SERVERTEMPCOMPONENT" Guid="8FEBC0F2-A1CA-43D5-B7EF-C11907B9A67D" Feature="ServerFeature">
            <CreateFolder />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>

    <FeatureRef Id="ServerFeature">
      <ComponentGroupRef Id="group_SRVBINFILES"/>
      <ComponentGroupRef Id="group_SRVCSMAPDICTFILES"/>
      <ComponentGroupRef Id="group_SRVREPADMINFILES"/>
      <ComponentGroupRef Id="group_SRVRESOURCESFILES"/>
      <ComponentGroupRef Id="group_SRVSCHEMAFILES"/>
      <ComponentGroupRef Id="group_SRVWMSFILES"/>
      <ComponentGroupRef Id="group_SRVWFSFILES"/>
      <FeatureRef Id="FdoFeature" />
      <Feature Id="ServerRepositoriesFeature" Title="Repositories" Level="1" ConfigurableDirectory="SERVERREPOSITORIESLOCATION" Description="You may place the repositories in a location of your choice." Absent="disallow" AllowAdvertise="no" TypicalDefault="install" InstallDefault="local" >
        <Feature Id="ServerRepositoriesLibraryFeature" Title="Library Repository" Level="1" ConfigurableDirectory="SERVERREPOSITORIESLIBRARYLOCATION" Description="You may place the Library repository in a location of your choice." Absent="disallow" AllowAdvertise="no" TypicalDefault="install" InstallDefault="local" />
        <Feature Id="ServerRepositoriesSessionFeature" Title="Session Repository" Level="1" ConfigurableDirectory="SERVERREPOSITORIESSESSIONLOCATION" Description="You may place the Session repository in a location of your choice." Absent="disallow" AllowAdvertise="no" TypicalDefault="install" InstallDefault="local" />
        <Feature Id="ServerRepositoriesSiteFeature" Title="Site Repository" Level="1" ConfigurableDirectory="SERVERREPOSITORIESSITELOCATION" Description="You may place the Site repository in a location of your choice." Absent="disallow" AllowAdvertise="no" TypicalDefault="install" InstallDefault="local" />
        <Feature Id="ServerRepositoriesTileCacheFeature" Title="TileCache Repository" Level="1" ConfigurableDirectory="SERVERREPOSITORIESTILECACHELOCATION" Description="You may place the TileCache repository in a location of your choice." Absent="disallow" AllowAdvertise="no" TypicalDefault="install" InstallDefault="local" />
      </Feature>
      <Feature Id="ServerPackagesFeature" Title="Packages" Level="1" ConfigurableDirectory="SERVERPACKAGESLOCATION" Description="You may place the Packages directory in a location of your choice." Absent="disallow" AllowAdvertise="no" TypicalDefault="install" InstallDefault="local" />
      <Feature Id="ServerLogsFeature" Title="Logfiles" Level="1" ConfigurableDirectory="SERVERLOGSLOCATION" Description="You may choose a location to place the server logfiles." Absent="disallow" AllowAdvertise="no" TypicalDefault="install" InstallDefault="local" />
      <Feature Id="ServerTempFeature" Title="Temp Directory" Level="1" ConfigurableDirectory="SERVERTEMPLOCATION" Description="You may choose a location for temporary files." Absent="disallow" AllowAdvertise="no" TypicalDefault="install" InstallDefault="local" />
    </FeatureRef>

  </Fragment>
</Wix>
