<W2D>
    <Unit>Points</Unit>
    <SizeContext>DeviceUnits</SizeContext>
    <SizeX>%s</SizeX>
    <SizeY>%s</SizeY>
    <Rotation>0</Rotation>
    <MaintainAspect>true</MaintainAspect>
    <W2DSymbol>
        <ResourceId>%s</ResourceId>
        <LibraryItemName>%s</LibraryItemName>
    </W2DSymbol>
    <FillColor>%s</FillColor>
    <LineColor>FF000000</LineColor>
    <TextColor>FF000000</TextColor>
</W2D>
