<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>RELEASE_LABEL</name>
          <description></description>
          <defaultValue>Beta1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>WITH_ARCSDE</name>
          <description></description>
          <defaultValue>no</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>@echo off

SET VCBEXTENSION=_vs10
SET VC_COMPILER=vc100
SET ACTIVENAMECHECK=&quot;Microsoft Visual Studio 10&quot;
SET ACTIVEPATHCHECK=&quot;C:\Program Files\Microsoft Visual Studio 10.0\VC&quot;
if exist %ACTIVEPATHCHECK% goto VSExist else exit 1
SET ACTIVEPATHCHECK=&quot;C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC&quot;
if exist %ACTIVEPATHCHECK% goto VSExist else exit 1
:VSExist
call %ACTIVEPATHCHECK%\vcvarsall.bat x86

SET MG_VER_MAJOR=2
SET MG_VER_MINOR=5
SET MG_VER_BUILD=0
SET MG_VER_MAJOR_MINOR=%MG_VER_MAJOR%.%MG_VER_MINOR%
SET MG_VER_MAJOR_MINOR_BUILD=%MG_VER_MAJOR_MINOR%.%MG_VER_BUILD%
SET FDO_VER_MAJOR_MINOR=3.8

SET FDO_SRC=C:\builds\fdo\%FDO_VER_MAJOR_MINOR%\x86_vc10\Fdo
SET BUILD_SRC=C:\mg-%MG_VER_MAJOR_MINOR%-x86
SET CURRENT_DIR=C:\builds\
SET BUILD_OUTPUT=C:\builds\mapguide\%MG_VER_MAJOR_MINOR%\x86\release
SET JAVA_HOME=C:\Program Files (x86)\Java\jdk1.6.0_33
SET ANT_HOME=C:\apache-ant-1.8.3
SET DOXYGEN=C:\Program Files\doxygen\bin
if exist %BUILD_OUTPUT% rd /S /Q %BUILD_OUTPUT%
if exist &quot;%BUILD_SRC%\Output&quot; rd /S /Q &quot;%BUILD_SRC%\Output&quot;
cd %BUILD_SRC%\MgDev\Oem\FDO
xcopy /S /Y /I %FDO_SRC%\Inc Inc
xcopy /S /Y /I %FDO_SRC%\Lib Lib
xcopy /S /Y /I %FDO_SRC%\Bin Bin\Release
xcopy /S /Y /I %FDO_SRC%\Bin\com\*.* Bin\Release\com
cd %BUILD_SRC%\MgDev\Web
rd /S /Q bin
rd /S /Q lib
rd /S /Q obj
cd %BUILD_SRC%\MgDev
echo [build]: Updating to latest revision
REM If we ever do implement CI build triggers, remove this update command
svn cleanup
svn update .
svn info . | perl C:\builds\revnum.pl &gt; revision.txt
set /p REVISION= &lt; revision.txt
copy /Y revision.txt C:\builds\last_mg_x86_revision.txt
cscript updateversion.vbs /major:%MG_VER_MAJOR% /minor:%MG_VER_MINOR% /point:%MG_VER_BUILD% /build:%REVISION%
call stampassemblies.bat %MG_VER_MAJOR_MINOR_BUILD%.%REVISION%
echo [build]: Set env vars
call setenvironment.bat vc10
echo [build]: build oem/server/web
call build.bat -o=%BUILD_OUTPUT%
echo [build]: install files
call build.bat -a=install -o=%BUILD_OUTPUT%
cd %BUILD_SRC%\Installer
echo [build]: Updating to latest revision
svn update
call build.bat -a=prepare -source=%BUILD_OUTPUT%
call build.bat -a=generate -source=%BUILD_OUTPUT%
call build.bat -source=%BUILD_OUTPUT% -version=%MG_VER_MAJOR_MINOR_BUILD%.%REVISION% -name=MapGuideOpenSource-%MG_VER_MAJOR_MINOR_BUILD%.%REVISION%-%RELEASE_LABEL%-x86 -title=&quot;MapGuide Open Source %MG_VER_MAJOR_MINOR% %RELEASE_LABEL%&quot;
move /Y Output\en-US\MapGuideOpenSource-%MG_VER_MAJOR_MINOR_BUILD%.%REVISION%-%RELEASE_LABEL%-x86.exe C:\builds\mapguide</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>mg-desktop-net40-vc10-x86</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>