<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>RELEASE_LABEL</name>
          <description></description>
          <defaultValue>Beta1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>WITH_ARCSDE</name>
          <description></description>
          <defaultValue>no</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MG_VER_MAJOR</name>
          <description></description>
          <defaultValue>2</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MG_VER_MINOR</name>
          <description></description>
          <defaultValue>6</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MG_VER_BUILD</name>
          <description></description>
          <defaultValue>0</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MG_BUILD_SRC</name>
          <description></description>
          <defaultValue>C:\working\sources\mg-trunk</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>FDO_SRC</name>
          <description></description>
          <defaultValue>C:\builds\fdo\3.9.0\x86\Fdo</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>INSTANT_SETUP_SRC</name>
          <description></description>
          <defaultValue>C:\working\sources\MgInstantSetup</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>CLEAR_WORKING_AREA</name>
          <description></description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>MG_STAMP_FILE_SOURCE</name>
          <description></description>
          <defaultValue>C:\working\sources\mapguide_trunk_revision.txt</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>JDK6 32-bit</jdk>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>@echo off

SET BUILD_ACTION=Setting Visual Studio env vars
SET VCBEXTENSION=_vs12
SET VC_COMPILER=vc110
SET ACTIVENAMECHECK=&quot;Microsoft Visual Studio 11&quot;
SET ACTIVEPATHCHECK=&quot;C:\Program Files\Microsoft Visual Studio 11.0\VC&quot;
if exist %ACTIVEPATHCHECK% goto VSExist
SET ACTIVEPATHCHECK=&quot;C:\Program Files (x86)\Microsoft Visual Studio 11.0\VC&quot;
if exist %ACTIVEPATHCHECK% goto VSExist
goto error

:VSExist
call %ACTIVEPATHCHECK%\vcvarsall.bat x86

REM Sigh! We can&apos;t seem to reference this from Jenkins
SET MSBUILD_NET40=C:\Windows\Microsoft.NET\Framework\v4.0.30319\msbuild.exe

SET MG_VER_MAJOR_MINOR=%MG_VER_MAJOR%.%MG_VER_MINOR%
SET MG_VER_MAJOR_MINOR_BUILD=%MG_VER_MAJOR_MINOR%.%MG_VER_BUILD%
SET MG_BUILD_OUTPUT_ROOT=%MG_BUILD_ARTIFACT_PATH%\mapguide
SET MG_BUILD_OUTPUT=%MG_BUILD_OUTPUT_ROOT%\%MG_VER_MAJOR_MINOR_BUILD%\x86\release
SET MG_BUILD_AREA=%MG_BUILD_AREA%\mapguide\%MG_VER_MAJOR_MINOR_BUILD%\x86
SET REVNUM_FILE=%MG_TOOL_PATH%\revnum.pl
SET MG_STAMP_FILE=%MG_BUILD_ARTIFACT_PATH%\last_mapguide_%MG_VER_MAJOR_MINOR_BUILD%_revision_x86.txt
SET BUILD_ACTION=

echo =================== Env Vars for MapGuide =============================
echo MG_VER_MAJOR_MINOR         = %MG_VER_MAJOR_MINOR%
echo MG_VER_MAJOR_MINOR_BUILD   = %MG_VER_MAJOR_MINOR_BUILD%
echo MG_BUILD_OUTPUT_ROOT       = %MG_BUILD_OUTPUT_ROOT%
echo MG_BUILD_OUTPUT            = %MG_BUILD_OUTPUT%
echo MG_BUILD_AREA              = %MG_BUILD_AREA%
echo REVNUM_FILE                = %REVNUM_FILE%
echo MG_STAMP_FILE              = %MG_STAMP_FILE%
echo INSTANT_SETUP_SRC          = %INSTANT_SETUP_SRC%
echo JAVA_HOME                  = %JAVA_HOME%
echo ANT_HOME                   = %ANT_HOME%
echo =======================================================================

echo [prepare]: Cleaning out build artifacts
if exist %MG_BUILD_OUTPUT% rd /S /Q %MG_BUILD_OUTPUT%

echo [prepare]: Noting SVN revision
set /p MG_REVISION= &lt; &quot;%MG_STAMP_FILE_SOURCE%&quot;
copy /Y &quot;%MG_STAMP_FILE_SOURCE%&quot; &quot;%MG_STAMP_FILE%&quot;

if &quot;%CLEAR_WORKING_AREA%&quot;==&quot;false&quot; (
    echo [prepare]: Skip cleaning build area
    goto build_mapguide
)

echo [prepare]: Cleaning out SVN metadata in build area
if exist %MG_BUILD_AREA% for /R %MG_BUILD_AREA% %%X in (.svn) do (RD /S /Q %%X 2&gt;nul)
echo [prepare]: Cleaning out build area
if exist %MG_BUILD_AREA% rd /S /Q %MG_BUILD_AREA%
echo [prepare]: Re-creating output directories
if not exist %MG_BUILD_AREA%\Installer mkdir %MG_BUILD_AREA%\Installer
if not exist %MG_BUILD_AREA%\MgDev mkdir %MG_BUILD_AREA%\MgDev
if not exist %MG_BUILD_ARTIFACT_PATH%\mg-desktop mkdir %MG_BUILD_ARTIFACT_PATH%\mg-desktop

echo [prepare]: Exporting SVN working copy to build area (Installer)
SET BUILD_ACTION=Exporting SVN working copy to build area (Installer)
svn export %MG_BUILD_SRC%\Installer %MG_BUILD_AREA%\Installer --force
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error

echo [prepare]: Copying SVN working copy to build area (MgDev)
SET BUILD_ACTION=Copying SVN working copy to build area (MgDev)
svn export %MG_BUILD_SRC%\MgDev %MG_BUILD_AREA%\MgDev --force
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error

echo [prepare]: Overlaying SVN metadata
REM Yeah, we&apos;re basically re-copying, but this will include missing SVN metadata that export obviously leaves out
robocopy %MG_BUILD_SRC%\MgDev\Oem\fusion_build %MG_BUILD_AREA%\MgDev\Oem\fusion_build /E /NFL /NDL /nc /ns /np /MT
robocopy %MG_BUILD_SRC%\MgDev\Web\src\localized %MG_BUILD_AREA%\MgDev\Web\src\localized /E /NFL /NDL /nc /ns /np /MT
robocopy %MG_BUILD_SRC%\MgDev\Web\src\mapadmin %MG_BUILD_AREA%\MgDev\Web\src\mapadmin /E /NFL /NDL /nc /ns /np /MT
robocopy %MG_BUILD_SRC%\MgDev\UnitTest/WebTier\MapAgent\MapAgentForms %MG_BUILD_AREA%\MgDev\UnitTest/WebTier\MapAgent\MapAgentForms /E /NFL /NDL /nc /ns /np /MT
robocopy %MG_BUILD_SRC%\MgDev\Web\src\mapviewerjava %MG_BUILD_AREA%\MgDev\Web\src\mapviewerjava /E /NFL /NDL /nc /ns /np /MT
robocopy %MG_BUILD_SRC%\MgDev\Web\src\mapviewernet %MG_BUILD_AREA%\MgDev\Web\src\mapviewernet /E /NFL /NDL /nc /ns /np /MT
robocopy %MG_BUILD_SRC%\MgDev\Web\src\mapviewerphp %MG_BUILD_AREA%\MgDev\Web\src\mapviewerphp /E /NFL /NDL /nc /ns /np /MT
robocopy %MG_BUILD_SRC%\MgDev\Web\src\schemareport %MG_BUILD_AREA%\MgDev\Web\src\schemareport /E /NFL /NDL /nc /ns /np /MT
robocopy %MG_BUILD_SRC%\MgDev\Web\src\stdicons %MG_BUILD_AREA%\MgDev\Web\src\stdicons /E /NFL /NDL /nc /ns /np /MT
robocopy %MG_BUILD_SRC%\MgDev\Web\src\viewerfiles %MG_BUILD_AREA%\MgDev\Web\src\viewerfiles /E /NFL /NDL /nc /ns /np /MT
robocopy %MG_BUILD_SRC%\MgDev\Doc\samples\dotnetsamples %MG_BUILD_AREA%\MgDev\Doc\samples\dotnetsamples /E /NFL /NDL /nc /ns /np /MT
robocopy %MG_BUILD_SRC%\MgDev\Doc\samples\dotnetviewersample %MG_BUILD_AREA%\MgDev\Doc\samples\dotnetviewersample /E /NFL /NDL /nc /ns /np /MT
robocopy %MG_BUILD_SRC%\MgDev\Doc\samples\javasamples %MG_BUILD_AREA%\MgDev\Doc\samples\javasamples /E /NFL /NDL /nc /ns /np /MT
robocopy %MG_BUILD_SRC%\MgDev\Doc\samples\javaviewersample %MG_BUILD_AREA%\MgDev\Doc\samples\javaviewersample /E /NFL /NDL /nc /ns /np /MT
robocopy %MG_BUILD_SRC%\MgDev\Doc\samples\phpsamples %MG_BUILD_AREA%\MgDev\Doc\samples\phpsamples /E /NFL /NDL /nc /ns /np /MT
robocopy %MG_BUILD_SRC%\MgDev\Doc\samples\phpviewersample %MG_BUILD_AREA%\MgDev\Doc\samples\phpviewersample /E /NFL /NDL /nc /ns /np /MT
robocopy %MG_BUILD_SRC%\MgDev\Doc\samples\ol2samples %MG_BUILD_AREA%\MgDev\Doc\samples\ol2samples /E /NFL /NDL /nc /ns /np /MT
robocopy %MG_BUILD_SRC%\MgDev\Doc\viewerapi %MG_BUILD_AREA%\MgDev\Doc\viewerapi /E /NFL /NDL /nc /ns /np /MT

echo [prepare]: Setup FDO in Oem
cd %MG_BUILD_AREA%\MgDev\Oem\FDO
xcopy /S /Y /I %FDO_SRC%\Inc Inc
xcopy /S /Y /I %FDO_SRC%\Lib Lib
xcopy /S /Y /I %FDO_SRC%\Bin Bin\Release
xcopy /S /Y /I %FDO_SRC%\Bin\com\*.* Bin\Release\com
REM For release we don&apos;t want pdbs and .net assemblies
cd %MG_BUILD_AREA%\MgDev\Oem\FDO\Bin\Release
del /Q OSGeo.FDO.*
del /Q *.pdb

:build_mapguide
cd %MG_BUILD_AREA%\MgDev
echo [build]: Stamp version numbers
SET BUILD_ACTION=Stamp version numbers
cscript updateversion.vbs /major:%MG_VER_MAJOR% /minor:%MG_VER_MINOR% /point:%MG_VER_BUILD% /build:%MG_REVISION%
call stampassemblies.bat %MG_VER_MAJOR_MINOR_BUILD%.%MG_REVISION%
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error

REM ========================================= MapGuide ====================================================

cd %MG_BUILD_AREA%\MgDev
echo [build]: Set env vars
call setenvironment.bat

echo [build]: build oem/server/web
cd %MG_BUILD_AREA%\MgDev
SET BUILD_ACTION=build oem/server/web
call build.bat
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error

echo [build]: install files to build artifact directory
SET BUILD_ACTION=install files to build artifact directory
call build.bat -a=install -o=%MG_BUILD_OUTPUT%
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error

REM Move fusion-selfbuild tools out of staging area
pushd %MG_BUILD_OUTPUT%\fusion-selfbuild
move /Y fusion-buildtools.zip %MG_BUILD_OUTPUT_ROOT%
popd
pushd %MG_BUILD_OUTPUT%
rd /S /Q fusion-selfbuild
popd

REM ========================================= mg-desktop ====================================================
:build_mgdesktop
REM HACK: mg-desktop batch files not aware of new output dir so set old one
SET MG_OUTPUT=%MG_BUILD_AREA%\MgDev\Release
pushd %MG_BUILD_AREA%\MgDev
echo [build]: mg-desktop
SET BUILD_ACTION=Build mg-desktop
call build_desktop.bat x86
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error
popd

pushd %MG_BUILD_AREA%\MgDev\nuget
echo [clean]: Nuget package temp files
call package_clean.bat
popd

pushd %MG_BUILD_AREA%\MgDev
echo [build]: Nuget packages
call nuget_prepare.bat %MG_VER_MAJOR_MINOR_BUILD%.%MG_REVISION% x86
SET BUILD_ACTION=Nuget packages
call nuget_pack.bat x86
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error
popd

pushd %MG_BUILD_AREA%\MgDev\nuget
echo [build]: Copy mg-desktop build artifacts (NuGet packages)
set BUILD_ACTION=Copy mg-desktop build artifacts (NuGet packages)
move *.nupkg %MG_BUILD_ARTIFACT_PATH%\mg-desktop
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error
popd

pushd %MG_BUILD_AREA%\MgDev\Release
echo [build]: Copy mg-desktop build artifacts (zip dist)
SET BUILD_ACTION=Copy mg-desktop build artifacts (zip dist)
7z a -mx9 %MG_BUILD_ARTIFACT_PATH%\mg-desktop\mg-desktop-%MG_VER_MAJOR_MINOR_BUILD%.%MG_REVISION%-net40-vc11-x86.zip Desktop DesktopSamples
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error
popd

REM ========================================= Instant Setup =========================================================
pushd %MG_BUILD_AREA%\Installer
echo [build]: Prepare artifact directory
SET BUILD_ACTION=Prepare artifact directory
call build.bat -a=prepare -source=%MG_BUILD_OUTPUT%
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error
popd

if not exist %INSTANT_SETUP_SRC% goto checkout_instantsetup
goto update_instantsetup
:checkout_instantsetup
echo [build]: svn checkout MgInstantSetup
SET BUILD_ACTION=svn checkout MgInstantSetup
svn co %INSTANT_SETUP_SVN_URL% %INSTANT_SETUP_SRC%
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error
goto build_instantsetup

:update_instantsetup
REM We&apos;ll allow this to fail
echo [build]: svn update MgInstantSetup
pushd %INSTANT_SETUP_SRC%
svn update
popd

:build_instantsetup
echo [build]: MgInstantSetup
pushd %INSTANT_SETUP_SRC%
SET BUILD_ACTION=Building MgInstantSetup
%MSBUILD_NET40% /p:Configuration=Release;Platform=&quot;Any CPU&quot; MgInstantSetup.sln
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error
popd

:copy_instantsetup_build_artifacts
echo [build]: Copy MgInstantSetup build artifacts
if not exist %MG_BUILD_OUTPUT%\Setup mkdir %MG_BUILD_OUTPUT%\Setup
pushd %INSTANT_SETUP_SRC%\InstantSetup\bin\release
copy /Y *.exe %MG_BUILD_OUTPUT%\Setup
copy /Y *.pdb %MG_BUILD_OUTPUT%\Setup
copy /Y *.dll %MG_BUILD_OUTPUT%\Setup
copy /Y *.config %MG_BUILD_OUTPUT%\Setup
popd

:zip_mginstantsetup
pushd %MG_BUILD_OUTPUT%
7z a %MG_BUILD_OUTPUT_ROOT%\MapGuideOpenSource-%MG_VER_MAJOR_MINOR_BUILD%.%MG_REVISION%-InstantSetup-x86.exe -mmt -mx5 -sfx7z.sfx .
popd

REM ========================================= MapGuide Installer ====================================================

:build_installer
pushd %MG_BUILD_AREA%\Installer
echo [build]: Generate installer file listings
SET BUILD_ACTION=Generate installer file listings
call build.bat -a=generate -source=%MG_BUILD_OUTPUT%
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error

echo [build]: Build the installer
SET BUILD_ACTION=Build the installer
call build.bat -source=%MG_BUILD_OUTPUT% -version=%MG_VER_MAJOR_MINOR_BUILD%.%MG_REVISION% -name=MapGuideOpenSource-%MG_VER_MAJOR_MINOR_BUILD%.%MG_REVISION%-%RELEASE_LABEL%-x86 -title=&quot;MapGuide Open Source %MG_VER_MAJOR_MINOR_BUILD% %RELEASE_LABEL%&quot;
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error

move /Y Output\en-US\MapGuideOpenSource-%MG_VER_MAJOR_MINOR_BUILD%.%MG_REVISION%-%RELEASE_LABEL%-x86.exe %MG_BUILD_OUTPUT_ROOT%
popd
goto end
:error
echo An error occurred while building MapGuide: %BUILD_ACTION%
exit /b 1
:end
exit /b 0</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>