<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>5</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>VersionLabel</name>
          <description>The release version label</description>
          <defaultValue>6.0a2</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BASE_VERSION</name>
          <description></description>
          <defaultValue>6.0.0</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.3">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.osgeo.org/mapguide/trunk/Tools/Maestro</remote>
        <credentialsId></credentialsId>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>false</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>15 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>pushd &quot;%WORKSPACE%&quot;
rd /S /Q out
popd
pushd &quot;%WORKSPACE%\Properties&quot;
%MG_TOOL_PATH%\SetAssemblyVersion.exe -set:%BASE_VERSION%.%SVN_REVISION% GlobalAssemblyInfo.cs
popd
pushd &quot;%WORKSPACE%\SDK&quot;
rd /S /Q bin
popd</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.21">
      <msBuildName>MSBUILD 4.0 x86</msBuildName>
      <msBuildFile>Maestro\Maestro_All.sln</msBuildFile>
      <cmdLineArgs>/p:Configuration=Release</cmdLineArgs>
      <buildVariablesAsProperties>true</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <hudson.tasks.BatchFile>
      <command>pushd &quot;%WORKSPACE%\out\Release\AddIns&quot;
rd /S /Q GeoRest
popd</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>pushd &quot;%WORKSPACE%\UserDoc&quot;
call make.bat html
popd
pushd &quot;%WORKSPACE%\UserDoc\build\html&quot;
xcopy /S /Y *.* &quot;%WORKSPACE%\out\Release\UserDoc\&quot;
popd
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>pushd &quot;%WORKSPACE%\Thirdparty\NSIS&quot;
makensis.exe /DSLN_CONFIG=Release /DCPU=x86 /DRELEASE_VERSION=%VersionLabel% &quot;%WORKSPACE%\Install\Maestro.nsi&quot;
popd
pushd &quot;%WORKSPACE%\out&quot;
if not exist &quot;%MG_BUILD_ARTIFACT_PATH%\maestro&quot; mkdir &quot;%MG_BUILD_ARTIFACT_PATH%\maestro&quot;
move /Y *.exe &quot;%MG_BUILD_ARTIFACT_PATH%\maestro&quot;
popd</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>pushd &quot;%WORKSPACE%\out\Release\AddIns&quot;
rd /S /Q Local
rd /S /Q Scripting
popd
pushd &quot;%WORKSPACE%\out\Release&quot;
del /Q LocalConfigure.*
if not exist &quot;%MG_BUILD_ARTIFACT_PATH%\maestro&quot; mkdir &quot;%MG_BUILD_ARTIFACT_PATH%\maestro&quot;
7z a -tzip -mx9 &quot;%MG_BUILD_ARTIFACT_PATH%\maestro\MapGuideMaestro-%VersionLabel%-Release.zip&quot; .
popd</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.21">
      <msBuildName>MSBUILD 4.0 x86</msBuildName>
      <msBuildFile>Doc\MaestroAPI.shfbproj</msBuildFile>
      <cmdLineArgs></cmdLineArgs>
      <buildVariablesAsProperties>true</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <hudson.tasks.BatchFile>
      <command>pushd &quot;%WORKSPACE%\Doc\Help&quot;
move /Y MaestroAPI.chm &quot;%WORKSPACE%\SDK&quot;
popd
pushd &quot;%WORKSPACE%\SDK&quot;
if not exist &quot;%MG_BUILD_ARTIFACT_PATH%\maestro&quot; mkdir &quot;%MG_BUILD_ARTIFACT_PATH%\maestro&quot;
7z a -tzip -mx9 &quot;%MG_BUILD_ARTIFACT_PATH%\maestro\MaestroSDK_%VersionLabel%.zip&quot; .
popd</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>