<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>5</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>VersionLabel</name>
          <description>The release version label</description>
          <defaultValue>6.0m6</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BASE_VERSION</name>
          <description></description>
          <defaultValue>6.0.0</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.SubversionSCM" plugin="subversion@2.7.1">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.osgeo.org/mapguide/trunk/Tools/Maestro</remote>
        <credentialsId></credentialsId>
        <local>.</local>
        <depthOption>infinity</depthOption>
        <ignoreExternalsOption>false</ignoreExternalsOption>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
    <ignoreDirPropChanges>false</ignoreDirPropChanges>
    <filterChangelog>false</filterChangelog>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>H/15 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>pushd &quot;%WORKSPACE%&quot;&#xd;
rd /S /Q out&#xd;
popd&#xd;
pushd &quot;%WORKSPACE%\Properties&quot;&#xd;
%MG_TOOL_PATH%\SetAssemblyVersion.exe -set:%BASE_VERSION%.%SVN_REVISION% GlobalAssemblyInfo.cs&#xd;
popd&#xd;
pushd &quot;%WORKSPACE%\SDK&quot;&#xd;
rd /S /Q bin&#xd;
popd&#xd;
if not exist &quot;%WORKSPACE%\TestResults&quot; mkdir &quot;%WORKSPACE%\TestResults&quot;&#xd;
pushd &quot;%WORKSPACE%\Maestro&quot;&#xd;
.nuget\nuget.exe restore Maestro_All.sln&#xd;
popd</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.26">
      <msBuildName>MSBuild 14.0</msBuildName>
      <msBuildFile>Maestro\Maestro_All.sln</msBuildFile>
      <cmdLineArgs>/p:Configuration=Release</cmdLineArgs>
      <buildVariablesAsProperties>true</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <hudson.tasks.BatchFile>
      <command>pushd &quot;%WORKSPACE%\Maestro\packages\NUnit.Runners.2.6.3\tools&quot;&#xd;
nunit-console.exe &quot;%WORKSPACE%\OSGeo.MapGuide.ObjectModel.Tests\bin\Release\OSGeo.MapGuide.ObjectModels.Tests.dll&quot; &quot;%WORKSPACE%\OSGeo.MapGuide.MaestroAPI.Tests\bin\Release\OSGeo.MapGuide.MaestroAPI.Tests.dll&quot; /xml=&quot;%WORKSPACE%\TestResults\testresult.xml&quot;&#xd;
popd</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>pushd &quot;%WORKSPACE%\UserDoc&quot;&#xd;
call make.bat html&#xd;
popd&#xd;
pushd &quot;%WORKSPACE%\UserDoc\build\html&quot;&#xd;
xcopy /S /Y *.* &quot;%WORKSPACE%\out\Release\UserDoc\&quot;&#xd;
popd&#xd;
</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>pushd &quot;%WORKSPACE%\Thirdparty\NSIS&quot;&#xd;
makensis.exe /DSLN_CONFIG=Release /DCPU=x86 /DRELEASE_VERSION=%VersionLabel% &quot;%WORKSPACE%\Install\Maestro.nsi&quot;&#xd;
popd&#xd;
pushd &quot;%WORKSPACE%\out&quot;&#xd;
if not exist &quot;%MG_BUILD_ARTIFACT_PATH%\maestro&quot; mkdir &quot;%MG_BUILD_ARTIFACT_PATH%\maestro&quot;&#xd;
move /Y *.exe &quot;%MG_BUILD_ARTIFACT_PATH%\maestro&quot;&#xd;
popd</command>
    </hudson.tasks.BatchFile>
    <hudson.tasks.BatchFile>
      <command>pushd &quot;%WORKSPACE%\out\Release\AddIns&quot;&#xd;
rd /S /Q Local&#xd;
rd /S /Q Scripting&#xd;
popd&#xd;
pushd &quot;%WORKSPACE%\out\Release&quot;&#xd;
del /Q LocalConfigure.*&#xd;
if not exist &quot;%MG_BUILD_ARTIFACT_PATH%\maestro&quot; mkdir &quot;%MG_BUILD_ARTIFACT_PATH%\maestro&quot;&#xd;
7z a -tzip -mx9 &quot;%MG_BUILD_ARTIFACT_PATH%\maestro\MapGuideMaestro-%VersionLabel%-Release.zip&quot; .&#xd;
popd</command>
    </hudson.tasks.BatchFile>
    <hudson.plugins.msbuild.MsBuildBuilder plugin="msbuild@1.26">
      <msBuildName>MSBUILD 4.0 x86</msBuildName>
      <msBuildFile>Doc\MaestroAPI.shfbproj</msBuildFile>
      <cmdLineArgs></cmdLineArgs>
      <buildVariablesAsProperties>true</buildVariablesAsProperties>
      <continueOnBuildFailure>false</continueOnBuildFailure>
      <unstableIfWarnings>false</unstableIfWarnings>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <hudson.tasks.BatchFile>
      <command>pushd &quot;%WORKSPACE%\Doc\Help&quot;&#xd;
move /Y MaestroAPI.chm &quot;%WORKSPACE%\SDK&quot;&#xd;
popd&#xd;
pushd &quot;%WORKSPACE%\SDK&quot;&#xd;
if not exist &quot;%MG_BUILD_ARTIFACT_PATH%\maestro&quot; mkdir &quot;%MG_BUILD_ARTIFACT_PATH%\maestro&quot;&#xd;
7z a -tzip -mx9 &quot;%MG_BUILD_ARTIFACT_PATH%\maestro\MaestroSDK_%VersionLabel%.zip&quot; .&#xd;
popd</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>