<?xml version="1.0" encoding="UTF-8"?>
<Wix
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
  xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
  >
    <Product
           Id="47B770BA-1591-415D-A7AE-33D4C522FCEA"
           UpgradeCode="5D9A7D8D-485E-43E0-A4C8-3582E4D80051"
           Name="!(loc.ProductName)"
           Version="2.1.0"
           Manufacturer="!(loc.ProductManufacturer)"
           Language="!(loc.LANG)" >

        <Package InstallerVersion="300" Compressed="yes" />

        <Media Id="1" Cabinet="MapGuideOpenSource.cab" EmbedCab="yes" CompressionLevel="none" />

        <!-- Initial MapGuide Web Configuration: APACHE | IIS | MANUAL -->
        <Property Id="MGWEB_CONFIG" Secure="yes" Value="APACHE" />
        <Property Id="MGSERVER_IP" Secure="yes" Value="127.0.0.1" />
        <Property Id="APACHE_PORT" Secure="yes" Value="8008" />
        <Property Id="APACHE_VERSION" Secure="yes" Value="2.2.4" />
        <Property Id="PHP_VERSION" Secure="yes" Value="5.2.5" />
        <Property Id="APACHE_API_TYPE" Secure="yes" Value="PHP" />
        <Property Id="IIS_API_TYPE" Secure="yes" Value="PHP" />
        <Property Id="APP_POOL_NAME" Secure="yes" Value="MapGuideAppPool" />
        
        <!-- 
        This is currently used for the aspnet_regiis.exe custom action, though there
        is opportunity in the future for these properties to be exposed in the dialog
        UI.
        -->
        <Property Id="SITE_ID" Secure="yes" Value="1" />
        <Property Id="VIRTUALDIR" Secure="yes" Value="mapguide" />

        <!-- Add Remove Programs stuff -->
        <Property Id="ARPHELPLINK" Value="http://mapguide.osgeo.org" />
        <Property Id="ARPURLINFOABOUT" Value="http://mapguide.osgeo.org" />
        <Property Id="ARPPRODUCTICON" Value="OSGeo.ico" />
        
        <Property Id="ALLUSERS">1</Property>

        <Property Id="IISVERSIONMAJOR" Value="#0">
            <RegistrySearch Id="SearchRegIISVERSIONMAJOR" Root="HKLM" Key="Software\Microsoft\InetStp" Name="MajorVersion" Type="raw" />
        </Property>

        <Icon Id="OSGeo.ico" SourceFile="..\..\Support\Graphics\OSGeo.ico" />
        
        <WixVariable Id="WixUILicenseRtf" Value="Resources/LGPL21.rtf" />
        <WixVariable Id="WixUIBannerBmp" Value="Resources/InstallerSmall.bmp" />
        <WixVariable Id="WixUIDialogBmp" Value="Resources/InstallerLarge.bmp" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramMenuFolder" Name="Programs"/>
            <Directory Id="DesktopFolder" Name="Desktop"/>
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLLOCATION" Name="OSGeo">
                    <Directory Id="MAPGUIDEROOTLOCATION" Name="MapGuide">
                        <Directory Id="WebParentFolder" />
                        <Directory Id="ServerParentFolder" />
                        <Directory Id="CsMapParentFolder" />
                        <Component Id="MapGuideFolderComponent" Guid="5DEC79C5-677F-4B9D-9DD2-67FA760A4916" Feature="MapGuideFeature">
                            <CreateFolder />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="MapGuideFeature" Title="!(loc.MapGuideFeature)" Level="1" ConfigurableDirectory="MAPGUIDEROOTLOCATION" Description="!(loc.MapGuideFeature_Description)"  AllowAdvertise="no" TypicalDefault="install" InstallDefault="local" Display="expand" Absent="disallow" >
            <FeatureRef Id="CSMapFeature"/>
            <FeatureRef Id="ServerFeature"/>
            <FeatureRef Id="WebExtensionsFeature"/>
        </Feature>

        <UIRef Id="WixUI_Common"/>

        <!-- This stuff allows us to set MGWEB_CONFIG from two possible dialog boxes -->
        <Property Id="MgWeb_Config_IIS" Value="APACHE" />
        <Property Id="MgWeb_Config_NoIIS" Value="APACHE" />
        <CustomAction Id="MgWeb_Config_To_IIS_CA" Property="MgWeb_Config_IIS" Value="[MGWEB_CONFIG]" />
        <CustomAction Id="MgWeb_Config_To_NoIIS_CA" Property="MgWeb_Config_NoIIS" Value="[MGWEB_CONFIG]" />
        <CustomAction Id="MgWeb_Config_From_IIS_CA" Property="MGWEB_CONFIG" Value="[MgWeb_Config_IIS]" />
        <CustomAction Id="MgWeb_Config_From_NoIIS_CA" Property="MGWEB_CONFIG" Value="[MgWeb_Config_NoIIS]" />
        
        
        <UI>
            <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
            <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
            <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="8" Bold="yes" />

            <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
            <Property Id="WixUI_Mode" Value="FeatureTree" />

            <DialogRef Id="ErrorDlg" />
            <DialogRef Id="FatalError" />
            <DialogRef Id="FilesInUse" />
            <DialogRef Id="MsiRMFilesInUse" />
            <DialogRef Id="PrepareDlg" />
            <DialogRef Id="ProgressDlg" />
            <DialogRef Id="ResumeDlg" />
            <DialogRef Id="UserExit" />

            <!-- Dialog to warn about .NET Framework not found on system -->
            <Dialog Id="DisabledFeaturesDialog" Width="370" Height="270" Title="!(loc.InstallerTitle)">
                <!-- 
                    Some features will not be available
                    
                    If you want to use these features, click on cancel and 
                    correct the problem before proceeding with installation

                       IIS is not installed, so it will not be available as an installation choice.
                       
                       The .NET Framework 2.0 was not found, so the .NET Web Extensions for IIS will not be available
                    
                -->
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}!(loc.DisabledFeaturesDialog_Title)" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.DisabledFeaturesDialog_Description)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />

                <Control Id="TxtMessageIIS" Type="Text" X="30" Y="110" Width="316" Height="26" Text="!(loc.DisabledFeaturesDialog_IIS)">
                    <Condition Action="hide">NOT IISVERSIONMAJOR = "#0"</Condition>
                </Control>
                <Control Id="TxtMessageDotNet" Type="Text" X="30" Y="150" Width="302" Height="30" Text="!(loc.DisabledFeaturesDialog_DotNet)">
                    <Condition Action="hide">NETFRAMEWORK20</Condition>
                </Control>
                <Control Id="TxtMessageInstructions" Type="Text" X="22" Y="64" Width="318" Height="27" Text="!(loc.DisabledFeaturesDialog_Instructions)" />
                
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.NextButtonText)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.BackButtonText)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.CancelButtonText)" />
            </Dialog>

            <!-- Dialog to choose web server configuration: IIS / Apache / Manual -->
            <Dialog Id="WebServerConfigDlgIIS" Width="370" Height="270" Title="!(loc.InstallerTitle)">
                <!-- 
                    Select the type of web server configuration you want
                
                    ( ) Bundled Configuration
                
                    Install and configure Apache, PHP, and Tomcat. Choose either a PHP or Java 
                    development environment for use with MapGuide
                
                    ( ) IIS Configuration
                
                    Install PHP and auto-configure IIS. Choose either a PHP or .NET development
                    environment for use with MapGuide
                
                    ( ) Manual Configuration
                    
                    Install all required components for PHP, .NET and Java development, but don't configure
                    a web server.
                -->
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}!(loc.WebServerConfigDlg_Title)" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.WebServerConfigDlg_Description)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                
                <Control Property="MgWeb_Config_IIS" Id="RdWebConfigIIS" Type="RadioButtonGroup" X="30" Y="60" Height="138" Width="290">
                    <RadioButtonGroup Property="MgWeb_Config_IIS">
                        <RadioButton Text="{\WixUI_Font_Title}!(loc.WebServerConfigDlg_Apache)" ToolTip="!(loc.WebServerConfigDlg_Apache_Tooltip)" Value="APACHE" X="25" Y="10" Width="200" Height="45" />
                        <RadioButton Text="{\WixUI_Font_Title}!(loc.WebServerConfigDlg_IIS)" ToolTip="!(loc.WebServerConfigDlg_IIS_Tooltip)" Value="IIS" X="25" Y="40" Width="200" Height="45" />
                        <RadioButton Text="{\WixUI_Font_Title}!(loc.WebServerConfigDlg_Manual)" ToolTip="!(loc.WebServerConfigDlg_Manual_Tooltip)" Value="MANUAL" X="25" Y="70" Width="200" Height="45" />
                    </RadioButtonGroup>
                 </Control>

                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.NextButtonText)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.BackButtonText)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.CancelButtonText)" />
            </Dialog>

            <!-- Dialog to choose web server configuration: IIS / Apache / Manual -->
            <Dialog Id="WebServerConfigDlgNoIIS" Width="370" Height="270" Title="!(loc.InstallerTitle)">
                <!-- 
                    Select the type of web server configuration you want
                
                    ( ) Bundled Configuration
                
                    Install and configure Apache, PHP, and Tomcat. Choose either a PHP or Java 
                    development environment for use with MapGuide
                
                    ( ) Manual Configuration
                    
                    Install all required components for PHP, .NET and Java development, but don't configure
                    a web server.
                -->
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}!(loc.WebServerConfigDlg_Title)" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.WebServerConfigDlg_Description)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                
                <Control Property="MgWeb_Config_NoIIS" Id="RdWebConfigIIS" Type="RadioButtonGroup" X="30" Y="60" Height="190" Width="290">
                    <RadioButtonGroup Property="MgWeb_Config_NoIIS">
                        <RadioButton Text="{\WixUI_Font_Title}!(loc.WebServerConfigDlg_Apache)" ToolTip="!(loc.WebServerConfigDlg_Apache_Tooltip)" Value="APACHE" X="25" Y="10" Width="200" Height="45" />
                        <RadioButton Text="{\WixUI_Font_Title}!(loc.WebServerConfigDlg_Manual)" ToolTip="!(loc.WebServerConfigDlg_Manual_Tooltip)" Value="MANUAL" X="25" Y="40" Width="200" Height="45" />
                    </RadioButtonGroup>
                </Control>

                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.NextButtonText)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.BackButtonText)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.CancelButtonText)" />
            </Dialog>

            <!-- Dialog to configure Apache settings: Port, PHP/Java -->
            <Dialog Id="ApacheConfigDlg" Width="370" Height="270" Title="!(loc.InstallerTitle)">
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}!(loc.ApacheConfigDlg_Title)" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ApacheConfigDlg_Description)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <!-- 
                    Set up the development environment
                
                    Web Server Port Number:
                    _______________________
                
                    Development Environment:
                    
                    ( ) PHP
                    ( ) Java
                -->
                <Control Id="LblServerPort" Type="Text" Text="{\WixUI_Font_Title}!(loc.ApacheConfigDlg_PortNo)" X="20" Y="60" Width="120" Height="15" />
                <Control Id="TxtServerPort" Type="Edit" Property="APACHE_PORT" X="30" Y="80" Width="120" Height="15" />
                <Control Id="LblDevEnv" Type="Text" Text="{\WixUI_Font_Title}!(loc.ApacheConfigDlg_DevEnv)" X="20" Y="110" Width="120" Height="15" />
                <Control Id="RdApacheApiType" Property="APACHE_API_TYPE" Type="RadioButtonGroup" X="20" Y="130" Height="100" Width="290">
                    <RadioButtonGroup Property="APACHE_API_TYPE">
                        <RadioButton Text="PHP" Value="PHP" X="25" Y="10" Width="200" Height="45" />
                        <RadioButton Text="Java" Value="JAVA" X="25" Y="40" Width="200" Height="45" />
                    </RadioButtonGroup>
                </Control>

                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.NextButtonText)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.BackButtonText)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.CancelButtonText)" />
            </Dialog>

            <!-- Dialog to configure IIS settings: PHP/.net -->
            <Dialog Id="IISLangConfigDlg" Width="370" Height="270" Title="!(loc.InstallerTitle)">
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}!(loc.IISLangConfigDlg_Title)" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.IISLangConfigDlg_Description)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <!-- 
                Set up the development environment
                
                ( ) PHP
                ( ) .NET
                -->
                <Control Id="LblDevEnv" Type="Text" Text="{\WixUI_Font_Title}!(loc.IISLangConfigDlg_DevEnv)" X="20" Y="60" Width="120" Height="15" />
                <Control Id="RdIIsApiType" Property="IIS_API_TYPE" Type="RadioButtonGroup" Text="{\WixUI_Font_Title}!(loc.IISLangConfigDlg_DevEnv)" X="30" Y="70" Height="100" Width="290">
                    <RadioButtonGroup Property="IIS_API_TYPE">
                        <RadioButton Text="PHP" Value="PHP" X="25" Y="10" Width="200" Height="45" />
                        <RadioButton Text=".NET" Value="DOTNET" X="25" Y="40" Width="200" Height="45" />
                    </RadioButtonGroup>
                </Control>
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.NextButtonText)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.BackButtonText)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.CancelButtonText)" />
            </Dialog>

            <!-- Dialog to configure IIS6 specific things: web-site installation and application pool -->
            <Dialog Id="IIS6ConfigDlg" Width="370" Height="270" Title="!(loc.InstallerTitle)">
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}!(loc.IIS6ConfigDlg_Title)" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.IIS6ConfigDlg_Description)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <!-- 
                
                Install to this web site:  |V|_________________________
                
                Create an application pool: ___________________________
                
                It is recommended to create an application pool if you are running mixed 
                ASP.net application environments on your web server.
                
                -->
                <Control Id="LblAppPool" Type="Text" Text="!(loc.IIS6ConfigDlg_AppPool)" X="20" Y="80" Width="240" Height="15" />
                <Control Id="TxtAppPool" Type="Edit" Property="APP_POOL_NAME" X="20" Y="100" Width="240" Height="15" />
                <Control Id="LblAppPoolDescription" Type="Text" Text="!(loc.IIS6ConfigDlg_AppPoolDescription)" X="20" Y="120" Width="240" Height="45" />

                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.NextButtonText)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.BackButtonText)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.CancelButtonText)" />
            </Dialog>

            <!-- Dialog to configure IIS7 specific things -->
            <Dialog Id="IIS7ConfigDlg" Width="370" Height="270" Title="!(loc.InstallerTitle)">
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}IIS 7.0 Configuration" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="Configure IIS 7.0 Settings" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <!-- -->
                <Control Id="LblNote" Type="Text" Text="If you can read this, I've detected your version of IIS correctly" X="20" Y="80" Width="240" Height="15" />

                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.NextButtonText)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.BackButtonText)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.CancelButtonText)" />
            </Dialog>

            <!-- Dialog to configure MG Server IP address -->
            <Dialog Id="IPConfigDlg" Width="370" Height="270" Title="!(loc.InstallerTitle)">
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="{\WixUI_Font_Title}!(loc.IPConfigDlg_Title)" />
                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.IPConfigDlg_Description)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.InstallDirDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <!-- 
                Enter the MapGuide Server site server IP address:
                
                ______________________________________________
                
                The site server IP address defaults to localhost (127.0.0.1)
                
                -->
                <Control Id="LblServerIP" Type="Text" Text="!(loc.IPConfigDlg_IPAddress)" X="20" Y="80" Width="240" Height="15" />
                <Control Id="TxtServerPort" Type="Edit" Property="MGSERVER_IP" X="30" Y="100" Width="120" Height="15" />
                <Control Id="LblNote" Type="Text" Text="!(loc.IPConfigDlg_Note)" X="20" Y="120" Width="320" Height="15" />
                
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.NextButtonText)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.BackButtonText)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.CancelButtonText)" />
            </Dialog>

            <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

            <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>

            <Publish Dialog="LicenseAgreementDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
            <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="WebServerConfigDlgIIS" Order="1">LicenseAccepted = "1" AND (NOT IISVERSIONMAJOR = "#0")</Publish>
            <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="DisabledFeaturesDialog" Order="2">LicenseAccepted = "1" AND (IISVERSIONMAJOR = "#0" OR (NOT NETFRAMEWORK20))</Publish>

            <Publish Dialog="DisabledFeaturesDialog" Control="Next" Event="NewDialog" Value="WebServerConfigDlgIIS" Order="1">NOT IISVERSIONMAJOR = "#0"</Publish>
            <Publish Dialog="DisabledFeaturesDialog" Control="Next" Event="NewDialog" Value="WebServerConfigDlgNoIIS" Order="2">IISVERSIONMAJOR = "#0"</Publish>
            <Publish Dialog="DisabledFeaturesDialog" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
            <Publish Dialog="DisabledFeaturesDialog" Control="Cancel" Event="SpawnDialog" Value="CancelDlg">1</Publish>

            <Publish Dialog="WebServerConfigDlgIIS" Control="Next" Event="DoAction" Value="MgWeb_Config_From_IIS_CA" Order="1">1</Publish> 
            <Publish Dialog="WebServerConfigDlgIIS" Control="Next" Event="NewDialog" Value="ApacheConfigDlg" Order="2">MGWEB_CONFIG = "APACHE"</Publish>
            <Publish Dialog="WebServerConfigDlgIIS" Control="Next" Event="NewDialog" Value="IISLangConfigDlg" Order="3">MGWEB_CONFIG = "IIS"</Publish>
            <Publish Dialog="WebServerConfigDlgIIS" Control="Next" Event="NewDialog" Value="IPConfigDlg" Order="4">MGWEB_CONFIG = "MANUAL"</Publish>
            <Publish Dialog="WebServerConfigDlgIIS" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
            <Publish Dialog="WebServerConfigDlgIIS" Control="Cancel" Event="SpawnDialog" Value="CancelDlg">1</Publish>

            <Publish Dialog="WebServerConfigDlgNoIIS" Control="Next" Event="DoAction" Value="MgWeb_Config_From_NoIIS_CA" Order="1">1</Publish> 
            <Publish Dialog="WebServerConfigDlgNoIIS" Control="Next" Event="NewDialog" Value="ApacheConfigDlg" Order="2">MGWEB_CONFIG = "APACHE"</Publish>
            <Publish Dialog="WebServerConfigDlgNoIIS" Control="Next" Event="NewDialog" Value="IISLangConfigDlg" Order="3">MGWEB_CONFIG = "IIS"</Publish>
            <Publish Dialog="WebServerConfigDlgNoIIS" Control="Next" Event="NewDialog" Value="IPConfigDlg" Order="4">MGWEB_CONFIG = "MANUAL"</Publish>
            <Publish Dialog="WebServerConfigDlgNoIIS" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg">1</Publish>
            <Publish Dialog="WebServerConfigDlgNoIIS" Control="Cancel" Event="SpawnDialog" Value="CancelDlg">1</Publish>

            <Publish Dialog="ApacheConfigDlg" Control="Next" Event="NewDialog" Value="IPConfigDlg">1</Publish>
            <Publish Dialog="ApacheConfigDlg" Control="Back" Event="DoAction" Value="MgWeb_Config_To_IIS_CA" Order="1">NOT IISVERSIONMAJOR = "#0"</Publish> 
            <Publish Dialog="ApacheConfigDlg" Control="Back" Event="DoAction" Value="MgWeb_Config_To_NoIIS_CA" Order="2">IISVERSIONMAJOR = "#0"</Publish> 
            <Publish Dialog="ApacheConfigDlg" Control="Back" Event="NewDialog" Value="WebServerConfigDlgIIS" Order="3">NOT IISVERSIONMAJOR = "#0"</Publish>
            <Publish Dialog="ApacheConfigDlg" Control="Back" Event="NewDialog" Value="WebServerConfigDlgNoIIS" Order="4">IISVERSIONMAJOR = "#0"</Publish>
            <Publish Dialog="ApacheConfigDlg" Control="Cancel" Event="SpawnDialog" Value="CancelDlg">1</Publish>

            <Publish Dialog="IISLangConfigDlg" Control="Next" Event="NewDialog" Value="IPConfigDlg" Order="2">IISVERSIONMAJOR = "#5"</Publish>
            <Publish Dialog="IISLangConfigDlg" Control="Next" Event="NewDialog" Value="IIS6ConfigDlg" Order="3">IISVERSIONMAJOR = "#6"</Publish>
            <Publish Dialog="IISLangConfigDlg" Control="Next" Event="NewDialog" Value="IIS7ConfigDlg" Order="4">IISVERSIONMAJOR = "#7"</Publish>
            <Publish Dialog="IISLangConfigDlg" Control="Back" Event="DoAction" Value="MgWeb_Config_To_IIS_CA" Order="1">NOT IISVERSIONMAJOR = "#0"</Publish> 
            <Publish Dialog="IISLangConfigDlg" Control="Back" Event="DoAction" Value="MgWeb_Config_To_NoIIS_CA" Order="2">IISVERSIONMAJOR = "#0"</Publish> 
            <Publish Dialog="IISLangConfigDlg" Control="Back" Event="NewDialog" Value="WebServerConfigDlgIIS" Order="3">NOT IISVERSIONMAJOR = "#0"</Publish>
            <Publish Dialog="IISLangConfigDlg" Control="Back" Event="NewDialog" Value="WebServerConfigDlgNoIIS" Order="4">IISVERSIONMAJOR = "#0"</Publish>
            <Publish Dialog="IISLangConfigDlg" Control="Cancel" Event="SpawnDialog" Value="CancelDlg">1</Publish>
            
            <Publish Dialog="IIS6ConfigDlg" Control="Next" Event="NewDialog" Value="IPConfigDlg">1</Publish>
            <Publish Dialog="IIS6ConfigDlg" Control="Back" Event="NewDialog" Value="IISLangConfigDlg">1</Publish>
            <Publish Dialog="IIS6ConfigDlg" Control="Cancel" Event="SpawnDialog" Value="CancelDlg">1</Publish>

            <Publish Dialog="IIS7ConfigDlg" Control="Next" Event="NewDialog" Value="IPConfigDlg">1</Publish>
            <Publish Dialog="IIS7ConfigDlg" Control="Back" Event="NewDialog" Value="IISLangConfigDlg">1</Publish>
            <Publish Dialog="IIS7ConfigDlg" Control="Cancel" Event="SpawnDialog" Value="CancelDlg">1</Publish>

            <Publish Dialog="IPConfigDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg">1</Publish>
            <Publish Dialog="IPConfigDlg" Control="Back" Event="NewDialog" Value="IISLangConfigDlg" Order="1">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#5"</Publish>
            <Publish Dialog="IPConfigDlg" Control="Back" Event="NewDialog" Value="IIS6ConfigDlg" Order="2">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#6"</Publish>
            <Publish Dialog="IPConfigDlg" Control="Back" Event="NewDialog" Value="IIS7ConfigDlg" Order="3">MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7"</Publish>
            <Publish Dialog="IPConfigDlg" Control="Back" Event="NewDialog" Value="ApacheConfigDlg" Order="4">MGWEB_CONFIG = "APACHE"</Publish>
            <Publish Dialog="IPConfigDlg" Control="Back" Event="DoAction" Value="MgWeb_Config_To_IIS_CA" Order="5">NOT IISVERSIONMAJOR = "#0"</Publish> 
            <Publish Dialog="IPConfigDlg" Control="Back" Event="DoAction" Value="MgWeb_Config_To_NoIIS_CA" Order="6">IISVERSIONMAJOR = "#0"</Publish> 
            <Publish Dialog="IPConfigDlg" Control="Back" Event="NewDialog" Value="WebServerConfigDlgIIS" Order="7">MGWEB_CONFIG = "MANUAL" AND NOT IISVERSIONMAJOR = "#0"</Publish>
            <Publish Dialog="IPConfigDlg" Control="Back" Event="NewDialog" Value="WebServerConfigDlgNoIIS" Order="8">MGWEB_CONFIG = "MANUAL" AND IISVERSIONMAJOR = "#0"</Publish>
            <Publish Dialog="IPConfigDlg" Control="Cancel" Event="SpawnDialog" Value="CancelDlg">1</Publish>

            <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="1">Installed</Publish>
            <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg" Order="2">NOT Installed</Publish>
            <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="IISLangConfigDlg" Order="3">NOT Installed AND MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#5"</Publish>
            <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="IIS6ConfigDlg" Order="4">NOT Installed AND MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#6"</Publish>
            <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="IIS7ConfigDlg" Order="5">NOT Installed AND MGWEB_CONFIG = "IIS" AND IISVERSIONMAJOR = "#7"</Publish>
            <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="ApacheConfigDlg" Order="6">NOT Installed AND MGWEB_CONFIG = "APACHE"</Publish>
            <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="IPConfigDlg" Order="7">NOT Installed AND MGWEB_CONFIG = "MANUAL"</Publish>
            <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="1">NOT Installed OR WixUI_InstallMode = "Change"</Publish>
            <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" Order="2">Installed</Publish>

            <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>

            <Publish Dialog="MaintenanceTypeDlg" Control="ChangeButton" Event="NewDialog" Value="CustomizeDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
            <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>
            
            <!-- Progress messages (so the user knows what's happening under the hood) -->
            <ProgressText Action="UpdateApacheConfig">!(loc.UpdateApacheConfig)</ProgressText>
            <ProgressText Action="UpdatePhpIni">!(loc.UpdatePhpIni)</ProgressText>
            <ProgressText Action="InstallApacheServiceCA">!(loc.InstallApacheServiceCA)</ProgressText>
            <ProgressText Action="MgServerInstallCA">!(loc.MgServerInstallCA)</ProgressText>
            <ProgressText Action="MgServerUninstallCA">!(loc.MgServerUninstallCA)</ProgressText>
            <ProgressText Action="RemoveApacheServiceCA">!(loc.RemoveApacheServiceCA)</ProgressText>
            <ProgressText Action="AddWebServiceExtension">!(loc.AddWebServiceExtension)</ProgressText>
            <ProgressText Action="CreateVDirMapGuide">!(loc.CreateVDirMapGuide)</ProgressText>
            <ProgressText Action="RegisterScriptMaps">!(loc.RegisterScriptMaps)</ProgressText>
            <ProgressText Action="SetCustomErrors">!(loc.SetCustomErrors)</ProgressText>
            <ProgressText Action="CreateVDirMapAgent">!(loc.CreateVDirMapAgent)</ProgressText>
            <ProgressText Action="CreateVDirPhpAgent">!(loc.CreateVDirPhpAgent)</ProgressText>
            <ProgressText Action="CreateVDirNetAgent">!(loc.CreateVDirNetAgent)</ProgressText>
            <ProgressText Action="CreateVDirJavaAgent">!(loc.CreateVDirJavaAgent)</ProgressText>
            <ProgressText Action="DeleteWebServiceExtension">!(loc.DeleteWebServiceExtension)</ProgressText>
            <ProgressText Action="DeleteVDirMapGuide">!(loc.DeleteVDirMapGuide)</ProgressText>
            <ProgressText Action="CreateAPPMapGuideWithIIS7">!(loc.CreateAPPMapGuideWithIIS7)</ProgressText>
            <ProgressText Action="CreateVDirPhpAgentWithIIS7">!(loc.CreateVDirPhpAgentWithIIS7)</ProgressText>
            <ProgressText Action="CreateAPPNetAgentWithIIS7">!(loc.CreateAPPNetAgentWithIIS7)</ProgressText>
            <ProgressText Action="DeleteAPPMapGuideWithIIS7">!(loc.DeleteAPPMapGuideWithIIS7)</ProgressText>
        </UI>

        <InstallExecuteSequence>
            <!-- Set up properties for IIS7 deferred actions -->
            <Custom Action="MapGuideIIS7_CreateAppPool_Cmd" After="CostFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_SetAppPoolProp_Cmd" After="CostFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_UnlockSrvHandlers_Cmd" After="CostFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_UnlockSiteHandlers_Cmd" After="CostFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_CreateMapGuideApp_Cmd" After="CostFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_CreatePhpScriptMapping_Cmd" After="CostFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_EnablePhpExtension_Cmd" After="CostFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_CreateMapAgentApp_Cmd" After="CostFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_SetMapAgentHandlerAccess_Cmd" After="CostFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_CreateMapAgentScriptHandling_Cmd" After="CostFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_EnableMapAgentExtension_Cmd" After="CostFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_AssignMapGuideAppPool_Cmd" After="CostFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_AssignMapAgentAppPool_Cmd" After="CostFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_UnlockHttpErrorsMain_Cmd" After="CostFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_UnlockHttpErrorsWebSite_Cmd" After="CostFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_UnlockHttpErrorsMapGuide_Cmd" After="CostFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_Reset401Handler_Cmd" After="CostFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>

            <!-- Run IIS7 deferred actions -->
            <Custom Action="MapGuideIIS7_CreateAppPool" After="InstallFiles">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_SetAppPoolProp" After="MapGuideIIS7_CreateAppPool">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_UnlockSrvHandlers" After="MapGuideIIS7_SetAppPoolProp">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_UnlockSiteHandlers" After="MapGuideIIS7_UnlockSrvHandlers">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_CreateMapGuideApp" After="MapGuideIIS7_UnlockSiteHandlers">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_CreatePhpScriptMapping" After="MapGuideIIS7_CreateMapGuideApp">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_EnablePhpExtension" After="MapGuideIIS7_CreatePhpScriptMapping">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_CreateMapAgentApp" After="MapGuideIIS7_EnablePhpExtension">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_SetMapAgentHandlerAccess" After="MapGuideIIS7_CreateMapAgentApp">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_CreateMapAgentScriptHandling" After="MapGuideIIS7_SetMapAgentHandlerAccess">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_EnableMapAgentExtension" After="MapGuideIIS7_CreateMapAgentScriptHandling">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_AssignMapGuideAppPool" After="MapGuideIIS7_EnableMapAgentExtension">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_AssignMapAgentAppPool" After="MapGuideIIS7_AssignMapGuideAppPool">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_UnlockHttpErrorsMain" After="MapGuideIIS7_AssignMapAgentAppPool">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_UnlockHttpErrorsWebSite" After="MapGuideIIS7_UnlockHttpErrorsMain">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_UnlockHttpErrorsMapGuide" After="MapGuideIIS7_UnlockHttpErrorsWebSite">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom Action="MapGuideIIS7_Reset401Handler" After="MapGuideIIS7_UnlockHttpErrorsMapGuide">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>

            
            <Custom
                Action="UpdateApacheConfig"
                After="UpdateApacheConfig.SetValues">&amp;WebExtPhpFeature > 2 AND &amp;WebExtApacheFeature > 2</Custom>
            <Custom
                Action="UpdateApacheConfig.SetValues"
                After="InstallFiles">&amp;WebExtPhpFeature > 2 AND &amp;WebExtApacheFeature > 2</Custom>
            <Custom
                Action="UpdatePhpIni"
                After="UpdatePhpIni.SetValues">&amp;WebExtPhpFeature > 2</Custom>
            <Custom
                Action="UpdatePhpIni.SetValues"
                After="UpdateApacheConfig">&amp;WebExtPhpFeature > 2</Custom>
            <Custom
                Action="InstallApacheServiceCA"
                Before="InstallFinalize">MGWEB_CONFIG = "APACHE" AND &amp;WebExtApacheFeature > 2</Custom>
            <Custom
                Action="MgServerInstallCA"
                Before="InstallFinalize">&amp;ServerFeature>2</Custom>
            <Custom
                Action="MgServerUninstallCA"
                Before="RemoveFiles">&amp;ServerFeature=2</Custom>
            <Custom
                Action="RemoveApacheServiceCA"
                Before="RemoveFiles">MGWEB_CONFIG = "APACHE" AND &amp;WebExtApacheFeature=2</Custom>
            <!-- IIS 5/6 related custom actions -->
            <Custom
                Action="AddWebServiceExtension"
                Before="InstallFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#5" OR IISVERSIONMAJOR = "#6") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom
                Action="CreateVDirMapGuide"
                After="AddWebServiceExtension">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#5" OR IISVERSIONMAJOR = "#6") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom
                Action="AspNetRegIIS"
                After="CreateVDirMapGuide">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#5" OR IISVERSIONMAJOR = "#6") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom
                Action="RegisterScriptMaps"
                After="AspNetRegIIS">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#5" OR IISVERSIONMAJOR = "#6") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom
                Action="SetCustomErrors"
                After="AspNetRegIIS">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#5" OR IISVERSIONMAJOR = "#6") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom
                Action="CreateVDirMapAgent"
                After="AspNetRegIIS">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#5" OR IISVERSIONMAJOR = "#6") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom
                Action="CreateVDirPhpAgent"
                After="AspNetRegIIS">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#5" OR IISVERSIONMAJOR = "#6") AND IIS_API_TYPE = "PHP" AND &amp;WebExtMapViewerPHPFeature > 2</Custom>
            <Custom
                Action="CreateVDirNetAgent"
                After="AspNetRegIIS">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#5" OR IISVERSIONMAJOR = "#6") AND IIS_API_TYPE = "DOTNET" AND  &amp;WebExtMapViewerASPXFeature > 2</Custom>
            <Custom
                Action="CreateVDirJavaAgent"
                After="AspNetRegIIS">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#5" OR IISVERSIONMAJOR = "#6") AND IIS_API_TYPE = "JAVA" AND &amp;WebExtMapViewerJSPFeature > 2</Custom>
            <Custom
                Action="DeleteWebServiceExtension"
                Before="DeleteVDirMapGuide">(IISVERSIONMAJOR = "#5" OR IISVERSIONMAJOR = "#6") AND &amp;WebExtensionsFeature = 2</Custom>
            <Custom
                Action="DeleteVDirMapGuide"
                Before="InstallFinalize">(IISVERSIONMAJOR = "#5" OR IISVERSIONMAJOR = "#6") AND &amp;WebExtensionsFeature = 2</Custom>
            <!-- IIS7 custom actions -->
<!--  Trying out deferred custom actions
            <Custom
                Action="CreateAPPMapGuideWithIIS7"
                Before="InstallFinalize">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2</Custom>
            <Custom
                Action="CreateVDirPhpAgentWithIIS7"
                After="CreateAPPMapGuideWithIIS7">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2 AND IIS_API_TYPE = "PHP" AND &amp;WebExtMapViewerPHPFeature > 2</Custom>
            <Custom
                Action="CreateAPPNetAgentWithIIS7"
                After="CreateAPPMapGuideWithIIS7">MGWEB_CONFIG = "IIS" AND (IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature > 2 AND IIS_API_TYPE = "DOTNET" AND &amp;WebExtMapViewerASPXFeature > 2</Custom>
            <Custom
                Action="DeleteAPPMapGuideWithIIS7"
                Before="InstallFinalize">(IISVERSIONMAJOR = "#7") AND &amp;WebExtensionsFeature = 2</Custom>
-->                
            <ScheduleReboot After="InstallFinalize"/>
        </InstallExecuteSequence>
    </Product>
</Wix>
