<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.SubversionSCM">
    <locations>
      <hudson.scm.SubversionSCM_-ModuleLocation>
        <remote>http://svn.osgeo.org/mapguide/trunk/Tools/MgInstantSetup</remote>
        <local>.</local>
      </hudson.scm.SubversionSCM_-ModuleLocation>
    </locations>
    <excludedRegions></excludedRegions>
    <includedRegions></includedRegions>
    <excludedUsers></excludedUsers>
    <excludedRevprop></excludedRevprop>
    <excludedCommitMessages></excludedCommitMessages>
    <workspaceUpdater class="hudson.scm.subversion.UpdateUpdater"/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.plugins.msbuild.MsBuildBuilder>
      <msBuildName>MSBUILD 3.5 x86</msBuildName>
      <msBuildFile>MgInstantSetup.sln</msBuildFile>
      <cmdLineArgs>/p:Configuration=Release</cmdLineArgs>
      <buildVariablesAsProperties>true</buildVariablesAsProperties>
    </hudson.plugins.msbuild.MsBuildBuilder>
    <hudson.tasks.BatchFile>
      <command>SET MG_VER_MAJOR=2
SET MG_VER_MINOR=5
SET MG_VER_BUILD=0
SET MG_VER_MAJOR_MINOR=%MG_VER_MAJOR%.%MG_VER_MINOR%
SET MG_VER_MAJOR_MINOR_BUILD=%MG_VER_MAJOR_MINOR%.%MG_VER_BUILD%
SET FDO_VER_MAJOR_MINOR=3.8

if not exist C:\builds\mapguide\%MG_VER_MAJOR_MINOR%\x86\release\Setup mkdir C:\builds\mapguide\%MG_VER_MAJOR_MINOR%\x86\release\Setup
if not exist C:\builds\mapguide\%MG_VER_MAJOR_MINOR%\x64\release\Setup mkdir C:\builds\mapguide\%MG_VER_MAJOR_MINOR%\x64\release\Setup
pushd &quot;%WORKSPACE%\InstantSetup\bin\Release&quot;
copy /Y *.exe C:\builds\mapguide\%MG_VER_MAJOR_MINOR%\x86\release\Setup
copy /Y *.pdb C:\builds\mapguide\%MG_VER_MAJOR_MINOR%\x86\release\Setup
copy /Y *.dll C:\builds\mapguide\%MG_VER_MAJOR_MINOR%\x86\release\Setup
copy /Y *.config C:\builds\mapguide\%MG_VER_MAJOR_MINOR%\x86\release\Setup
copy /Y *.exe C:\builds\mapguide\%MG_VER_MAJOR_MINOR%\x64\release\Setup
copy /Y *.pdb C:\builds\mapguide\%MG_VER_MAJOR_MINOR%\x64\release\Setup
copy /Y *.dll C:\builds\mapguide\%MG_VER_MAJOR_MINOR%\x64\release\Setup
copy /Y *.config C:\builds\mapguide\%MG_VER_MAJOR_MINOR%\x64\release\Setup
popd
SET /p MGREVISION32= &lt; C:\builds\last_mg_x86_revision.txt
SET /p MGREVISION64= &lt; C:\builds\last_mg_x64_revision.txt
pushd C:\builds\mapguide\%MG_VER_MAJOR_MINOR%\x86\release
7z a C:\builds\mapguide\MapGuideOpenSource-%MG_VER_MAJOR_MINOR_BUILD%.%MGREVISION32%-InstantSetup-x86.exe -mmt -mx5 -sfx7z.sfx .
popd
pushd C:\builds\mapguide\%MG_VER_MAJOR_MINOR%\x64\release
7z a C:\builds\mapguide\MapGuideOpenSource-%MG_VER_MAJOR_MINOR_BUILD%.%MGREVISION64%-InstantSetup-x64.exe -mmt -mx5 -sfx7z.sfx .
popd</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>