<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>__#PRINTTITLE#__</title>
<link rel="stylesheet" href="../viewerfiles/viewer.css" type="text/css">
<style type="text/css">
    table#Ui
    {
        font-family: __#@font#__;
    }
    span.Title
    {
        font-size: 10pt;
    }
    td#MainTitle
    {
        font-size: 13pt;
        font-weight: bold;
    }
    tr#RegText
    {
        font-size: __#@fontsize#__;
        margin-bottom: 10px;
        height: 22px;
    }
    tr#Underline
    {
        background-color: gray;
        height: 2px;
    }
    tr#Spacer
    {
        height: 6px;
    }
    td#HelpText
    {
        background-color: #FFFFCC;
        color: #666666;
        font-size: 10pt;
    }
    input.Btn
    {
        width: 95px;
    }
</style>

<script language=javascript>

var popup = %s;
var width = %s;
var sessionId = '%s';
var mapName = '%s';
var scale = %s;
var centerX = %s;
var centerY = %s;
var dpi = %s;

function InitDocument()
{
    if(!popup)
    {
        document.onmousedown = OnMouseDown;
        document.getElementById("back").style.visibility = "visible";
    }
    var fldCell = document.getElementById("fldCell");
    var field = document.getElementById("Fld");
    field.style.width = (fldCell.offsetWidth - 25 - 10) + "px";
    field.style.position = "relative";
    field.style.left = "25px";
    field.value = mapName;
    field.focus();
}

function OnMouseDown(e)
{
    GetParent().ForwardMouseDown(document, e);
}

function GetParent()
{
    if(popup)
        return opener;
    else
        return parent.parent;
}

function GetPrintablePage()
{
    var title = document.getElementById("Fld").value;
    var win = window.open("%s?SESSION=" + sessionId + "&MAPNAME=" + encodeURIComponent(mapName) + "&TITLE=" + encodeURIComponent(title) + "&DPI=" + dpi + "&SCALE=" + scale +
                            "&CENTERX=" + centerX + "&CENTERY=" + centerY +
                            "&ISTITLE=" + (document.getElementById("isTitle").checked? "1":"0") +
                            "&ISLEGEND=" + (document.getElementById("isLegend").checked? "1":"0") +
                            "&ISARROW=" + (document.getElementById("isArrow").checked? "1":"0"),
                "", "width=675,height=695,toolbar, menubar");
    if(win != null)
        win.focus();
}

function GoBack()
{
    GetParent().GotoHomePage();
}

</script>

</head>
<body class="PrintablePage" onload="InitDocument()" topmargin=7 bottommargin=0 leftmargin=7 rightmargin=7 marginwidth=7 >
    <table id="Ui" width="100%%" border="0" cellspacing="0" cellpadding="0">
      <tr><td id="MainTitle">__#PRINTTITLE#__</td></tr>
      <tr id="Spacer"><td></td></tr>
      <tr id="Underline"><td></td></tr>
      <tr id="Spacer"><td></td></tr>
      <tr id="Spacer"><td></td></tr>
      <tr><td id="HelpText">__#PRINTELEMENTS#__</td></tr>
      <tr id="Spacer"><td></td></tr>
      <tr id="RegText"><td><input type="checkbox" id="isTitle" checked>__#PRINTPAGETITLE#__</td></tr>
      <tr><td id="fldCell"><input type="edit" id="Fld"></td></tr>
      <tr id="RegText"><td><input type="checkbox" id="isLegend" checked>__#PRINTLEGEND#__</td></tr>
      <tr id="RegText"><td><input type="checkbox" id="isArrow" checked>__#PRINTNORTHARROW#__</td></tr>
      <tr id="Spacer"><td></td></tr>
      <tr id="Spacer"><td></td></tr>
      <tr id="RegText"><td><input class="Btn" type="button" value="__#PRINTCREATEPAGE#__" onClick="GetPrintablePage()"> <input class="Btn" type="button" value="__#BUTTONCANCEL#__" id="back" onClick="GoBack()" style="visibility: hidden"></td></tr>
    </table>
</body>
</html>
