<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Slate</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">

<script type="text/javascript" src="../../../lib/fusion.js"></script>

<script type="text/javascript">
var panel1;
var panel2;
var panel3;
var panelman;
var dOverviewMap;

window.onload = function() {
  Fusion.initializeLocale();  //need to call this first if String.Translate is to be used in the onload

  var main = new Jx.Layout('AppContainer', {left: 0, right: 0, top: 2, bottom: 0});
  new Jx.Layout('FileMenu', {height: 24, left: 0, right: 0, top: 0, bottom: null});
  new Jx.Layout('SplitterArea', {left: 2, right: 2, top: 0, bottom: 21});
  new Jx.Layout('ToolbarContainer', {height: 46, left: 0, right: 0, top: 26, bottom: null});
  new Jx.Layout('Map', {left: 0, right: 0, top: 74, bottom: 2});
  new Jx.Layout('StatusbarContainer', {height: 21, left: 0, right: 0, top: null, bottom: 0});
  new Jx.Layout('Statusbar', {height: 21, left: 0, right: 159, top: null, bottom: 0});

  var splitter = new Jx.Splitter('SplitterArea',
                                 {splitInto:2,
                                 elements:[$('Sidebar'),$('MapArea')],
                                 layout:'horizontal',
                                 containerOptions: [{minWidth:8, width: 218}],
                                 snappers: [$('SidebarCollapse'),null]});

  panel1 = new Jx.Panel({label: OpenLayers.String.translate('legendTitle'), imageBaseUrl: 'images/'});
  panel1.content.id = 'Legend';
  panel2 = new Jx.Panel({label: OpenLayers.String.translate('selectionPanelTitle'), imageBaseUrl: 'images/'});
  panel2.content.id = 'SelectionPanel';
  panel3 = new Jx.Panel({label: OpenLayers.String.translate('taskPaneTitle'), imageBaseUrl: 'images/'});
  panel3.content.id = 'TaskPane';
  panelman = new Jx.PanelManager(splitter.elements[0], [panel1, panel2, panel3]);

  dOverviewMap = new Jx.Dialog({id: 'dialogNavigator', imageBaseUrl: 'images/',
                          title: OpenLayers.String.translate('ovmapTitle'), 
                          modal: false, resizeable: false,
                          right: 10, bottom: 30, width: 200, height: 200,
                          contentID: 'OverviewMap', helpID: '' } );

  main.resize();

  Fusion.registerForEvent(Fusion.Event.FUSION_INITIALIZED, fusionInitialized);
  Fusion.registerForEvent(Fusion.Event.FUSION_ERROR, fusionError);
  Fusion.initialize();
  
  dOverviewMap.show();
}

var fusionError = function(eventId, error) {
    alert('Fusion Error: \n' + error.toString());
    //console.log('Fusion Error: \n' + error.toString());
}

var fusionInitialized = function() {
    $('AppContainer').resize();
}

var showOverviewMap = function() {
    dOverviewMap.open();
}

var showTaskPane = function() {
  panelman.maximizePanel(panel3);
}

var showLegend = function() {
  panelman.maximizePanel(panel1);
}

var showSelectionPanel = function() {
  panelman.maximizePanel(panel2);
}

</script>

<style type="text/css">
@import url(css/jxskin-border.css);
@import url(css/dialog_forms.css);
@import url(css/slate_fusion.css);
</style>

<!--[if IE 7]>
<style>
@import url(css/slate_ie7.css);
</style>
<![endif]-->

</head>

<body>

<div id="AppContainer">

  <div id="SplitterArea">
    <div id="Sidebar">
      <!-- Collapse Sidebar -->
      <div id="SidebarCollapse">
        <div id="SidebarCollapseTop"></div>
        <div id="SidebarCollapseContent">
          <a id="SidebarCollapseButton" href="#"></a>
        </div>
        <div id="SidebarCollapseBottom"></div>
      </div>
    </div>
    <div id="MapArea">
      <!-- File Menu -->
      <div id="FileMenu"></div>
      <!-- /File Menu -->
      <!-- Toolbar -->
      <div id="ToolbarContainer">
        <div id="Toolbar"></div>
        <div id="ToolbarLeft"></div>
        <div id="ToolbarRight"></div>

        <!-- I dont know about this one... -->
        <div id="ToolbarSecondary"></div>
        <div id="ToolbarSecondaryLeft"></div>
        <div id="ToolbarSecondaryRight"></div>
      </div>
      <!-- /Toolbar -->
      <div id="Map">
        <div id="Navigator"></div>
      </div>
    </div>
  </div>
  <!-- /Collapse Sidebar -->

  <!--<div id="OverviewMapContent"></div>-->

  <div id="StatusbarContainer">
    <div id="Statusbar"></div>
    <div id="StatusNavigator"></div>
    <div id="pbmg"><img src="images/pbmg.gif" alt=""></div>
  </div>
  
</div>

<div id="Legend"></div>
<div id="SelectionPanel"></div>
<div id="OverviewMap"></div>
<div id="Maptip"></div>

</body>
</html>
