<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>RELEASE_LABEL64</name>
          <description></description>
          <defaultValue>Beta1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>WITH_ARCSDE</name>
          <description></description>
          <defaultValue>no</defaultValue>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>@echo off

SET VCBEXTENSION=_vs10
SET VC_COMPILER=vc100
call &quot;C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd&quot; /release /x64

SET MG_VER_MAJOR=2
SET MG_VER_MINOR=5
SET MG_VER_BUILD=0
SET MG_VER_MAJOR_MINOR=%MG_VER_MAJOR%.%MG_VER_MINOR%
SET MG_VER_MAJOR_MINOR_BUILD=%MG_VER_MAJOR_MINOR%.%MG_VER_BUILD%
SET FDO_VER_MAJOR_MINOR=3.8

SET FDO_SRC64=C:\builds\fdo\%FDO_VER_MAJOR_MINOR%\x64_vc10\Fdo
SET BUILD_SRC64=C:\mg-%MG_VER_MAJOR_MINOR%-x64
SET CURRENT_DIR=C:\builds\
SET BUILD_OUTPUT64=C:\builds\mapguide\%MG_VER_MAJOR_MINOR%\x64\release
SET JAVA_HOME=C:\Program Files\Java\jdk1.6.0_33
SET ANT_HOME=C:\apache-ant-1.8.3
SET DOXYGEN=C:\Program Files\doxygen\bin
if exist %BUILD_OUTPUT64% rd /S /Q %BUILD_OUTPUT64%
if exist &quot;%BUILD_SRC64%\Output&quot; rd /S /Q &quot;%BUILD_SRC64%\Output&quot;
cd %BUILD_SRC64%\MgDev\Oem\FDO
xcopy /S /Y /I %FDO_SRC64%\Inc Inc
xcopy /S /Y /I %FDO_SRC64%\Lib Lib64
xcopy /S /Y /I %FDO_SRC64%\Bin Bin\Release64
xcopy /S /Y /I %FDO_SRC64%\Bin\com\*.* Bin\Release64\com
cd %BUILD_SRC64%\MgDev\Web
rd /S /Q bin
rd /S /Q lib
rd /S /Q obj
cd %BUILD_SRC64%\MgDev
echo [build]: Updating to latest revision
REM If we ever do implement CI build triggers, remove this update command
svn cleanup
svn update .
svn info . | perl C:\builds\revnum.pl &gt; revision.txt
set /p REVISION64= &lt; revision.txt
copy /Y revision.txt C:\builds\last_mg_x64_revision.txt
cscript updateversion.vbs /major:%MG_VER_MAJOR% /minor:%MG_VER_MINOR% /point:%MG_VER_BUILD% /build:%REVISION64%
call stampassemblies.bat %MG_VER_MAJOR_MINOR_BUILD%.%REVISION64%
echo [build]: Set env vars
call setenvironment64.bat vc10
echo [build]: build oem/server/web
call build64.bat -o=%BUILD_OUTPUT64%
echo [build]: install files
call build64.bat -a=install -o=%BUILD_OUTPUT64%
cd %BUILD_SRC64%\Installer
echo [build]: Updating to latest revision
svn update
popd
pushd %BUILD_SRC64%\Installer
call build64.bat -a=prepare -source=%BUILD_OUTPUT64%
call build64.bat -a=generate -source=%BUILD_OUTPUT64%
call build64.bat -source=%BUILD_OUTPUT64% -version=%MG_VER_MAJOR_MINOR_BUILD%.%REVISION64% -name=MapGuideOpenSource-%MG_VER_MAJOR_MINOR_BUILD%.%REVISION64%-%RELEASE_LABEL64%-x64 -title=&quot;MapGuide Open Source %MG_VER_MAJOR_MINOR% %RELEASE_LABEL64%&quot;
move /Y Output\en-US\MapGuideOpenSource-%MG_VER_MAJOR_MINOR_BUILD%.%REVISION64%-%RELEASE_LABEL64%-x64.exe C:\builds\mapguide</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>mg-desktop-net40-vc10-x64</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>