<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <!-- httpd.exe -->
    <?define HTTP_MAP = "file_APACHEFILES_19" ?>
	<Fragment>
        <Binary Id="ApacheActions" SourceFile="..\..\Custom\bin\apache_actions.dll" />
        <CustomAction Id="UpdateApacheConfig.SetValues" Property="UpdateApacheConfig" Value="[WEBEXTENSIONSLOCATION];[APACHE_API_TYPE];[APACHE_PORT];[APACHELOCATION];[PHPLOCATION];[WEBROOTLOCATION];[VIRTUALDIR]" />
        <CustomAction Id="UpdateApacheConfig" Return="check" BinaryKey="ApacheActions" Execute="deferred"  DllEntry="UpdateApacheConfig" />
        <CustomAction Id="UpdatePhpIni.SetValues" Property="UpdatePhpIni" Value='[PHPLOCATION];2;[WEBTEMPLOCATION]' />
        <CustomAction Id="UpdatePhpIni" Return="check" BinaryKey="ApacheActions" Execute="deferred" DllEntry="UpdatePhpIni" />
        <CustomAction Id="RemoveApacheServiceCA" Execute="immediate" Return="ignore" FileKey="$(var.HTTP_MAP)" ExeCommand="-k uninstall -n &quot;ApacheMapGuide[MG_VERSION_MAJOR_MINOR]&quot;" />
        <CustomAction Id="InstallApacheServiceCA" Execute="deferred" Return="ignore" FileKey="$(var.HTTP_MAP)" ExeCommand="-k install -n &quot;ApacheMapGuide[MG_VERSION_MAJOR_MINOR]&quot;" />
        <CustomAction Id="StartApacheServiceCA" Execute="deferred" Return="ignore" FileKey="$(var.HTTP_MAP)" ExeCommand="-k start -n &quot;ApacheMapGuide[MG_VERSION_MAJOR_MINOR]&quot;" />
	</Fragment>
</Wix>