<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Fragment>
        <Binary Id="IIsActions" SourceFile="..\..\Custom\bin\iis_actions.dll" />
        <Binary Id="IIs7Actions" SourceFile="..\..\Custom\bin\iis7_action.dll" />
        <CustomAction Id="AddWebServiceExtension" Return="check" BinaryKey="IIsActions" Execute="immediate" DllEntry="AddWebServiceExtension" />
        <CustomAction Id="DeleteWebServiceExtension" Return="check" BinaryKey="IIsActions" Execute="immediate" DllEntry="DeleteWebServiceExtension" />
        <CustomAction Id="RegisterScriptMaps" Return="check" BinaryKey="IIsActions" Execute="immediate" DllEntry="RegisterScriptMaps" />
        <CustomAction Id="SetCustomErrors" Return="check" BinaryKey="IIsActions" Execute="immediate" DllEntry="SetCustomErrors" />
        <CustomAction Id="CreateVDirMapAgent" Return="check" BinaryKey="IIsActions" Execute="immediate" DllEntry="CreateVDirMapAgent" />
        <CustomAction Id="CreateVDirMapGuide" Return="check" BinaryKey="IIsActions" Execute="immediate" DllEntry="CreateVDirMapGuide" />
        <CustomAction Id="CreateVDirPhpAgent" Return="check" BinaryKey="IIsActions" Execute="immediate" DllEntry="CreateVDirPhpAgent" />
        <CustomAction Id="CreateVDirNetAgent" Return="check" BinaryKey="IIsActions" Execute="immediate" DllEntry="CreateVDirNetAgent" />
        <CustomAction Id="CreateVDirJavaAgent" Return="check" BinaryKey="IIsActions" Execute="immediate" DllEntry="CreateVDirJavaAgent" />
        <CustomAction Id="DeleteVDirMapGuide" Return="check" BinaryKey="IIsActions" Execute="immediate" DllEntry="DeleteVDirMapGuide" />
        <CustomAction Id="CreateAPPMapGuideWithIIS7" Return="check" BinaryKey="IIs7Actions" Execute="immediate" DllEntry="CreateAPPMapGuideWithIIS7" />
        <CustomAction Id="CreateVDirPhpAgentWithIIS7" Return="check" BinaryKey="IIs7Actions" Execute="immediate" DllEntry="CreateVDirPhpAgentWithIIS7" />
        <CustomAction Id="CreateAPPNetAgentWithIIS7" Return="check" BinaryKey="IIs7Actions" Execute="immediate" DllEntry="CreateAPPNetAgentWithIIS7" />
        <CustomAction Id="DeleteAPPMapGuideWithIIS7" Return="check" BinaryKey="IIs7Actions" Execute="immediate" DllEntry="DeleteAPPMapGuideWithIIS7" />
	</Fragment>
</Wix>