<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Fragment>
        <DirectoryRef Id="ProgramMenuFolder">
            <Directory Id="MapGuideOpenSourceMenuLocation" Name="MapGuide Open Source">
                <Component Id="WebApiShortcutComponent" Guid="5FC3FEA9-4DCD-404A-8835-43C8C2F96E29">
                    <CreateFolder />
                    <util:InternetShortcut Id="WebApi"
                                           Directory="MapGuideOpenSourceMenuLocation"
                                           Name="Web API Documentation"
                                           Target="file://[HELPLOCATION]index.htm" />
                    <RegistryKey Root="HKCU" Key="Software\MapGuide Open Source\WebExtensions\WebApiShortcut">
                        <RegistryValue
                                Value="Installed"
                                Type="string"
                                KeyPath="yes" />
                    </RegistryKey>
                    <RemoveFolder Id="MapGuideOpenSourceMenuLocation" On="uninstall" />
                </Component>
                <Component Id="WebApacheShortcutComponent" Guid="2EBC8176-07C5-40A9-97F9-C3E83836637E">
                    <Condition>MGWEB_CONFIG = "APACHE"</Condition>
                    <util:InternetShortcut Id="ApacheSiteAdmin"
                                           Directory="MapGuideOpenSourceMenuLocation"
                                           Name="MapGuide Site Administrator" 
                                           Target="http://localhost:[APACHE_PORT]/mapguide/mapadmin/login.php" />
                    <util:InternetShortcut Id="ApacheMapAgent"
                                           Directory="MapGuideOpenSourceMenuLocation"
                                           Name="MapAgent Test Pages"
                                           Target="http://localhost:[APACHE_PORT]/mapguide/mapagent/index.html" />
                    <util:InternetShortcut Id="ApacheGetMaestro"
                                           Directory="MapGuideOpenSourceMenuLocation"
                                           Name="Get MapGuide Maestro"
                                           Target="http://trac.osgeo.org/mapguide/wiki/maestro" />
                    <RegistryKey Root="HKCU" Key="Software\MapGuide Open Source\WebExtensions\ApacheShortcut">
                        <RegistryValue
                                Value="Installed"
                                Type="string"
                                KeyPath="yes" />
                    </RegistryKey>
                </Component>
                <Component Id="WebIISShortcutComponent" Guid="F59A450A-84DE-4E2E-B942-BD416CDEBBF3">
                    <Condition>MGWEB_CONFIG = "IIS"</Condition>
                    <util:InternetShortcut Id="IISSiteAdmin"
                                           Directory="MapGuideOpenSourceMenuLocation"
                                           Name="MapGuide Site Administrator"
                                           Target="http://localhost/mapguide/mapadmin/login.php" />
                    <util:InternetShortcut Id="IISMapAgent"
                                           Directory="MapGuideOpenSourceMenuLocation"
                                           Name="MapAgent Test Pages"
                                           Target="http://localhost/mapguide/mapagent/index.html" />
                    <util:InternetShortcut Id="IISGetMaestro"
                                           Directory="MapGuideOpenSourceMenuLocation"
                                           Name="Get MapGuide Maestro"
                                           Target="http://trac.osgeo.org/mapguide/wiki/maestro" />
                    <RegistryKey Root="HKCU" Key="Software\MapGuide Open Source\WebExtensions\IISShortcut">
                        <RegistryValue
                                Value="Installed"
                                Type="string"
                                KeyPath="yes" />
                    </RegistryKey>
                </Component>
                <Directory Id="WebResourcesLocation" Name="Web Resources">
                    <Component Id="WebShortcutsComponent" Guid="7D2E24E9-533B-4119-A6D1-E48A33BF34C3">
                        <CreateFolder />
                        <util:InternetShortcut Id="MapGuideHome"
                                               Directory="WebResourcesLocation"
                                               Name="MapGuide Project Home"
                                               Target="http://mapguide.osgeo.org" />
                        <util:InternetShortcut Id="MapGuideTrac"
                                               Directory="WebResourcesLocation"
                                               Name="MapGuide Trac"
                                               Target="http://trac.osgeo.org" />
                        <util:InternetShortcut Id="MapGuideBestPractices"
                                               Directory="WebResourcesLocation"
                                               Name="MapGuide Best Practices"
                                               Target="http://sandbox.mapguide.com" />
                        <util:InternetShortcut Id="MapGuideCentral"
                                               Directory="WebResourcesLocation"
                                               Name="MapGuide Central"
                                               Target="http://ennoble.dreamhosters.com/mapguide-central" />
                        <RegistryKey Root="HKCU" Key="Software\MapGuide Open Source\WebResources\ProgramMenuShortcut">
                            <RegistryValue
                                    Value="Installed"
                                    Type="string"
                                    KeyPath="yes" />
                        </RegistryKey>
                        <RemoveFolder Id="WebShortcutsComponent" On="uninstall" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
	</Fragment>
</Wix>