<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?if "$(var.MgPlatform)" = "x64" ?>
    <?define Win64 = "yes" ?>
    <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
  <?else ?>
     <?define Win64 = "no" ?>
     <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
  <?endif ?>
  <Fragment>
    <DirectoryRef Id="ProgramMenuFolder">
      <!-- HACK: For some reason the MG_VERSION_MAJOR_MINOR property doesn't evaluate, so hardcode it for now -->
      <Directory Id="MapGuideOpenSourceMenuLocation" Name="MapGuide Open Source 2.4">
        <Component Id="GenericShortcutComponent" Win64="$(var.Win64)" Guid="243CE0F3-D6BC-476B-910E-6F34DA54A2E2">
          <CreateFolder />
          <RegistryKey Root="HKCU" Key="$(var.MgRegKey)\GenericShortcut">
            <RegistryValue
                    Value="Installed"
                    Type="string"
                    KeyPath="yes" />
          </RegistryKey>
          <RemoveFolder Id="MapGuideOpenSourceMenuLocation" On="uninstall" />
        </Component>
        <Component Id="ApacheWebApiShortcutComponent" Win64="$(var.Win64)" Guid="5FC3FEA9-4DCD-404A-8835-43C8C2F96E29">
          <Condition>MGWEB_CONFIG=&quot;APACHE&quot;</Condition>
          <CreateFolder />
          <util:InternetShortcut Id="ApacheWebApi"
                                 Directory="MapGuideOpenSourceMenuLocation"
                                 Name="!(loc.Shortcut_WebAPI)"
                                 Target="http://localhost:[APACHE_PORT]/[VIRTUALDIR]/help/webapi/index.htm" />
          <RegistryKey Root="HKCU" Key="$(var.MgRegKey)\ApacheWebApiShortcut">
            <RegistryValue
                    Value="Installed"
                    Type="string"
                    KeyPath="yes" />
          </RegistryKey>
        </Component>
        <Component Id="ApacheDevGuideShortcutComponent" Win64="$(var.Win64)" Guid="4DC72C73-8CF0-49B3-8558-5E7CAFA7B6CE">
          <Condition>MGWEB_CONFIG=&quot;APACHE&quot;</Condition>
          <CreateFolder />
          <util:InternetShortcut Id="ApacheDevGuide"
                                 Directory="MapGuideOpenSourceMenuLocation"
                                 Name="!(loc.Shortcut_DevGuide)"
                                 Target="http://localhost:[APACHE_PORT]/[VIRTUALDIR]/help/devguide/index.html" />
          <RegistryKey Root="HKCU" Key="$(var.MgRegKey)\ApacheDevGuideShortcut">
            <RegistryValue
                    Value="Installed"
                    Type="string"
                    KeyPath="yes" />
          </RegistryKey>
        </Component>
        <Component Id="ApacheViewerApiShortcutComponent" Win64="$(var.Win64)" Guid="4AABF916-33FC-440D-9D6F-8CE95F2ADE7A">
            <Condition>MGWEB_CONFIG=&quot;APACHE&quot;</Condition>
            <CreateFolder />
            <util:InternetShortcut Id="ApacheViewerApi"
                                   Directory="MapGuideOpenSourceMenuLocation"
                                   Name="!(loc.Shortcut_ViewerAPI)"
                                   Target="http://localhost:[APACHE_PORT]/[VIRTUALDIR]/help/viewerapi/index.htm" />
            <RegistryKey Root="HKCU" Key="$(var.MgRegKey)\ApacheViewerApiShortcut">
                <RegistryValue
                        Value="Installed"
                        Type="string"
                        KeyPath="yes" />
            </RegistryKey>
        </Component>
        <Component Id="WebApacheShortcutComponent" Win64="$(var.Win64)" Guid="2EBC8176-07C5-40A9-97F9-C3E83836637E">
          <Condition>MGWEB_CONFIG=&quot;APACHE&quot;</Condition>
          <util:InternetShortcut Id="ApacheSiteAdmin"
                                 Directory="MapGuideOpenSourceMenuLocation"
                                 Name="!(loc.Shortcut_SiteAdmin)"
                                 Target="http://localhost:[APACHE_PORT]/[VIRTUALDIR]/mapadmin/login.php" />
          <util:InternetShortcut Id="ApacheMapAgent"
                                 Directory="MapGuideOpenSourceMenuLocation"
                                 Name="!(loc.Shortcut_MapAgent)"
                                 Target="http://localhost:[APACHE_PORT]/[VIRTUALDIR]/mapagent/index.html" />
          <util:InternetShortcut Id="ApacheGetMaestro"
                                 Directory="MapGuideOpenSourceMenuLocation"
                                 Name="!(loc.Shortcut_GetMaestro)"
                                 Target="http://trac.osgeo.org/mapguide/wiki/maestro" />
          <RegistryKey Root="HKCU" Key="$(var.MgRegKey)\ApacheShortcut">
            <RegistryValue
                    Value="Installed"
                    Type="string"
                    KeyPath="yes" />
          </RegistryKey>
        </Component>
          <Component Id="WebApachePHPViewerSampleShortcutComponent" Win64="$(var.Win64)" Guid="E3D81381-6B4A-41AD-B83A-CE686455D3DC">
              <Condition>MGWEB_CONFIG=&quot;APACHE&quot;</Condition>
              <util:InternetShortcut Id="ApachePhpViewerSampleShortcut"
                                 Directory="MapGuideOpenSourceMenuLocation"
                                 Name="!(loc.Shortcut_PhpViewerSample)"
                                 Target="http://localhost:[APACHE_PORT]/[VIRTUALDIR]/phpviewersample/ajaxviewersample.php" />
              <RegistryKey Root="HKCU" Key="$(var.MgRegKey)\ApachePHPViewerSampleShortcutComponent">
                  <RegistryValue
                          Value="Installed"
                          Type="string"
                          KeyPath="yes" />
              </RegistryKey>
          </Component>
          <Component Id="WebApachePHPDevGuideSampleShortcutComponent" Win64="$(var.Win64)" Guid="F2F3F90B-D033-47FA-9DDD-943E594ABE98">
              <Condition>MGWEB_CONFIG=&quot;APACHE&quot;</Condition>
              <util:InternetShortcut Id="ApachePhpDevGuideSampleShortcut"
                                 Directory="MapGuideOpenSourceMenuLocation"
                                 Name="!(loc.Shortcut_PhpDevGuideSample)"
                                 Target="http://localhost:[APACHE_PORT]/[VIRTUALDIR]/phpsamples/main.php" />
              <RegistryKey Root="HKCU" Key="$(var.MgRegKey)\ApachePHPDevGuideSampleShortcutComponent">
                  <RegistryValue
                          Value="Installed"
                          Type="string"
                          KeyPath="yes" />
              </RegistryKey>
          </Component>
          <Component Id="WebApacheJavaViewerSampleShortcutComponent" Win64="$(var.Win64)" Guid="4D0D9A31-2BB5-4DE8-881A-53A5371BF93D">
              <Condition>MGWEB_CONFIG=&quot;APACHE&quot;</Condition>
              <util:InternetShortcut Id="ApacheJavaViewerSampleShortcut"
                                 Directory="MapGuideOpenSourceMenuLocation"
                                 Name="!(loc.Shortcut_JavaViewerSample)"
                                 Target="http://localhost:[APACHE_PORT]/[VIRTUALDIR]/javaviewersample/ajaxviewersample.jsp" />
              <RegistryKey Root="HKCU" Key="$(var.MgRegKey)\ApacheJavaViewerSampleShortcutComponent">
                  <RegistryValue
                          Value="Installed"
                          Type="string"
                          KeyPath="yes" />
              </RegistryKey>
          </Component>
          <Component Id="WebApacheJavaDevGuideSampleShortcutComponent" Win64="$(var.Win64)" Guid="4DB97F1C-D225-4437-B2B8-69ECDE4F4168">
              <Condition>MGWEB_CONFIG=&quot;APACHE&quot;</Condition>
              <util:InternetShortcut Id="ApacheJavaDevGuideSampleShortcut"
                                 Directory="MapGuideOpenSourceMenuLocation"
                                 Name="!(loc.Shortcut_JavaDevGuideSample)"
                                 Target="http://localhost:[APACHE_PORT]/[VIRTUALDIR]/javasamples/main.jsp" />
              <RegistryKey Root="HKCU" Key="$(var.MgRegKey)\ApacheJavaDevGuideSampleShortcutComponent">
                  <RegistryValue
                          Value="Installed"
                          Type="string"
                          KeyPath="yes" />
              </RegistryKey>
          </Component>
        <Component Id="IISWebApiShortcutComponent" Win64="$(var.Win64)" Guid="DFA7D99A-3760-4072-9510-7EC5D658FB5F">
          <Condition>MGWEB_CONFIG=&quot;IIS&quot;</Condition>
          <CreateFolder />
          <util:InternetShortcut Id="IISWebApi"
                                 Directory="MapGuideOpenSourceMenuLocation"
                                 Name="!(loc.Shortcut_WebAPI)"
                                 Target="http://localhost/[VIRTUALDIR]/help/webapi/index.htm" />
          <RegistryKey Root="HKCU" Key="$(var.MgRegKey)\IISWebApiShortcut">
            <RegistryValue
                    Value="Installed"
                    Type="string"
                    KeyPath="yes" />
          </RegistryKey>
        </Component>
        <Component Id="IISDevGuideShortcutComponent" Win64="$(var.Win64)" Guid="BA2B2FE0-F11E-41D0-9939-D774C1D3171A">
          <Condition>MGWEB_CONFIG=&quot;IIS&quot;</Condition>
          <CreateFolder />
          <util:InternetShortcut Id="IISDevGuide"
                                 Directory="MapGuideOpenSourceMenuLocation"
                                 Name="!(loc.Shortcut_DevGuide)"
                                 Target="http://localhost/[VIRTUALDIR]/help/devguide/index.html" />
          <RegistryKey Root="HKCU" Key="$(var.MgRegKey)\IISDevGuideShortcut">
            <RegistryValue
                    Value="Installed"
                    Type="string"
                    KeyPath="yes" />
          </RegistryKey>
        </Component>
          <Component Id="IISViewerApiShortcutComponent" Win64="$(var.Win64)" Guid="F2CCA279-4C99-48CE-9F79-7465449E2B33">
              <Condition>MGWEB_CONFIG=&quot;IIS&quot;</Condition>
              <CreateFolder />
              <util:InternetShortcut Id="IISViewerApi"
                                     Directory="MapGuideOpenSourceMenuLocation"
                                     Name="!(loc.Shortcut_ViewerAPI)"
                                     Target="http://localhost/[VIRTUALDIR]/help/viewerapi/index.htm" />
              <RegistryKey Root="HKCU" Key="$(var.MgRegKey)\IISViewerApiShortcut">
                  <RegistryValue
                          Value="Installed"
                          Type="string"
                          KeyPath="yes" />
              </RegistryKey>
          </Component>
          <Component Id="WebIISPHPViewerSampleShortcutComponent" Win64="$(var.Win64)" Guid="F1B2C345-52F8-4179-8CDC-34D2D3E22418">
              <Condition>MGWEB_CONFIG=&quot;IIS&quot;</Condition>
              <util:InternetShortcut Id="IISPhpViewerSampleShortcut"
                                 Directory="MapGuideOpenSourceMenuLocation"
                                 Name="!(loc.Shortcut_PhpViewerSample)"
                                 Target="http://localhost/[VIRTUALDIR]/phpviewersample/ajaxviewersample.php" />
              <RegistryKey Root="HKCU" Key="$(var.MgRegKey)\IISPHPViewerSampleShortcutComponent">
                  <RegistryValue
                          Value="Installed"
                          Type="string"
                          KeyPath="yes" />
              </RegistryKey>
          </Component>
          <Component Id="WebIISPHPDevGuideSampleShortcutComponent" Win64="$(var.Win64)" Guid="EEAB8D50-3ECA-4CBF-8D80-3F02219CB797">
              <Condition>MGWEB_CONFIG=&quot;IIS&quot;</Condition>
              <util:InternetShortcut Id="IISPhpDevGuideSampleShortcut"
                                 Directory="MapGuideOpenSourceMenuLocation"
                                 Name="!(loc.Shortcut_PhpDevGuideSample)"
                                 Target="http://localhost/[VIRTUALDIR]/phpsamples/main.php" />
              <RegistryKey Root="HKCU" Key="$(var.MgRegKey)\IISPHPDevGuideSampleShortcutComponent">
                  <RegistryValue
                          Value="Installed"
                          Type="string"
                          KeyPath="yes" />
              </RegistryKey>
          </Component>
          <Component Id="WebIISDotNetViewerSampleShortcutComponent" Win64="$(var.Win64)" Guid="BE2DD022-04C2-45AF-95A6-87E652BE52CA">
              <Condition>MGWEB_CONFIG=&quot;IIS&quot;</Condition>
              <util:InternetShortcut Id="IISDotNetViewerSampleShortcut"
                                 Directory="MapGuideOpenSourceMenuLocation"
                                 Name="!(loc.Shortcut_DotNetViewerSample)"
                                 Target="http://localhost/[VIRTUALDIR]/dotnetviewersample/ajaxviewersample.aspx" />
              <RegistryKey Root="HKCU" Key="$(var.MgRegKey)\IISDotNetViewerSampleShortcutComponent">
                  <RegistryValue
                          Value="Installed"
                          Type="string"
                          KeyPath="yes" />
              </RegistryKey>
          </Component>
          <Component Id="WebIISDotNetDevGuideSampleShortcutComponent" Win64="$(var.Win64)" Guid="0B766EEB-FA31-4833-91F6-87C2A653FD33">
              <Condition>MGWEB_CONFIG=&quot;IIS&quot;</Condition>
              <util:InternetShortcut Id="IISDotNetDevGuideSampleShortcut"
                                 Directory="MapGuideOpenSourceMenuLocation"
                                 Name="!(loc.Shortcut_DotNetDevGuideSample)"
                                 Target="http://localhost/[VIRTUALDIR]/dotnetsamples/main.aspx" />
              <RegistryKey Root="HKCU" Key="$(var.MgRegKey)\IISDotNetDevGuideSampleShortcutComponent">
                  <RegistryValue
                          Value="Installed"
                          Type="string"
                          KeyPath="yes" />
              </RegistryKey>
          </Component>
        <Component Id="WebIISShortcutComponent" Win64="$(var.Win64)" Guid="F59A450A-84DE-4E2E-B942-BD416CDEBBF3">
          <Condition>MGWEB_CONFIG=&quot;IIS&quot;</Condition>
          <util:InternetShortcut Id="IISSiteAdmin"
                                 Directory="MapGuideOpenSourceMenuLocation"
                                 Name="!(loc.Shortcut_SiteAdmin)"
                                 Target="http://localhost/[VIRTUALDIR]/mapadmin/login.php" />
          <util:InternetShortcut Id="IISMapAgent"
                                 Directory="MapGuideOpenSourceMenuLocation"
                                 Name="!(loc.Shortcut_MapAgent)"
                                 Target="http://localhost/[VIRTUALDIR]/mapagent/index.html" />
          <util:InternetShortcut Id="IISGetMaestro"
                                 Directory="MapGuideOpenSourceMenuLocation"
                                 Name="!(loc.Shortcut_GetMaestro)"
                                 Target="http://trac.osgeo.org/mapguide/wiki/maestro" />
          <RegistryKey Root="HKCU" Key="$(var.MgRegKey)\IISShortcut">
            <RegistryValue
                    Value="Installed"
                    Type="string"
                    KeyPath="yes" />
          </RegistryKey>
        </Component>
        <Directory Id="WebResourcesLocation" Name="Web Resources">
          <Component Id="WebShortcutsComponent" Win64="$(var.Win64)" Guid="7D2E24E9-533B-4119-A6D1-E48A33BF34C3">
            <CreateFolder />
            <util:InternetShortcut Id="MapGuideHome"
                                   Directory="WebResourcesLocation"
                                   Name="!(loc.Shortcut_MapGuide)"
                                   Target="http://mapguide.osgeo.org" />
            <util:InternetShortcut Id="MapGuideTrac"
                                   Directory="WebResourcesLocation"
                                   Name="!(loc.Shortcut_Trac)"
                                   Target="http://trac.osgeo.org/mapguide" />
            <util:InternetShortcut Id="MapGuideBestPractices"
                                   Directory="WebResourcesLocation"
                                   Name="!(loc.Shortcut_BestPractices)"
                                   Target="http://sandbox.mapguide.com" />
            <util:InternetShortcut Id="AutodeskWikiHelp"
                                   Directory="WebResourcesLocation"
                                   Name="!(loc.Shortcut_WikiHelp)"
                                   Target="http://wikihelp.autodesk.com/Infr._Map_Server/enu/2012" />
            <util:InternetShortcut Id="MapGuideCentral"
                                   Directory="WebResourcesLocation"
                                   Name="!(loc.Shortcut_MapGuideCentral)"
                                   Target="http://ennoble.dreamhosters.com/mapguide-central" />
            <RegistryKey Root="HKCU" Key="$(var.MgRegKey)\ProgramMenuShortcut">
              <RegistryValue
                      Value="Installed"
                      Type="string"
                      KeyPath="yes" />
            </RegistryKey>
            <RemoveFolder Id="WebShortcutsComponent" On="uninstall" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>