<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator>
    <daysToKeep>-1</daysToKeep>
    <numToKeep>1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>@echo off
SET BUILD_SRC=C:\fdo-3.7-x64
SET BUILD_OUTPUT=C:\builds\fdo\3.7\x64_vc10
SET FDOMYSQL=C:\fdo_rdbms_thirdparty\mysql_x64
SET FDOORACLE=C:\fdo_rdbms_thirdparty\oracle_x64\instantclient\11.2\sdk
if exist %BUILD_OUTPUT% rd /S /Q %BUILD_OUTPUT%
pushd %BUILD_SRC%
REM If we ever do implement CI build triggers, remove this update command
svn update .
svn info . | perl C:\builds\revnum.pl &gt; revision.txt
set /p REVISION= &lt; revision.txt
copy /Y revision.txt C:\builds\last_fdo_x64_revision.txt
echo [build]: Set env vars
call &quot;C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd&quot; /release /x64
call setenvironment.bat x64 VC10
echo [build]: build thirdparty
call build_thirdparty.bat -p=x64 -a=buildinstall -o=%BUILD_OUTPUT%
echo [build]: build core and providers
call build.bat -p=x64 -a=buildinstall -o=%BUILD_OUTPUT%
echo [build]: Pack files
rem call createtarzipbinfiles.bat -i=%BUILD_OUTPUT%\Fdo -o=%BUILD_OUTPUT%\dist -w=fdo -b=%REVISION% -r=3.7.0
rem call createtarzipbinfiles.bat -i=%BUILD_OUTPUT%\Fdo -o=%BUILD_OUTPUT%\dist -w=shp -b=%REVISION% -r=3.7.0
rem call createtarzipbinfiles.bat -i=%BUILD_OUTPUT%\Fdo -o=%BUILD_OUTPUT%\dist -w=sdf -b=%REVISION% -r=3.7.0
rem call createtarzipbinfiles.bat -i=%BUILD_OUTPUT%\Fdo -o=%BUILD_OUTPUT%\dist -w=wfs -b=%REVISION% -r=3.7.0
rem call createtarzipbinfiles.bat -i=%BUILD_OUTPUT%\Fdo -o=%BUILD_OUTPUT%\dist -w=wms -b=%REVISION% -r=3.7.0
rem call createtarzipbinfiles.bat -i=%BUILD_OUTPUT%\Fdo -o=%BUILD_OUTPUT%\dist -w=rdbms -b=%REVISION% -r=3.7.0
rem call createtarzipbinfiles.bat -i=%BUILD_OUTPUT%\Fdo -o=%BUILD_OUTPUT%\dist -w=mysql -b=%REVISION% -r=3.7.0
rem call createtarzipbinfiles.bat -i=%BUILD_OUTPUT%\Fdo -o=%BUILD_OUTPUT%\dist -w=odbc -b=%REVISION% -r=3.7.0
rem call createtarzipbinfiles.bat -i=%BUILD_OUTPUT%\Fdo -o=%BUILD_OUTPUT%\dist -w=sqlspatial -b=%REVISION% -r=3.7.0
rem call createtarzipbinfiles.bat -i=%BUILD_OUTPUT%\Fdo -o=%BUILD_OUTPUT%\dist -w=gdal -b=%REVISION% -r=3.7.0
rem call createtarzipbinfiles.bat -i=%BUILD_OUTPUT%\Fdo -o=%BUILD_OUTPUT%\dist -w=kingoracle -b=%REVISION% -r=3.7.0
rem call createtarzipbinfiles.bat -i=%BUILD_OUTPUT%\Fdo -o=%BUILD_OUTPUT%\dist -w=ogr -b=%REVISION% -r=3.7.0
rem call createtarzipbinfiles.bat -i=%BUILD_OUTPUT%\Fdo -o=%BUILD_OUTPUT%\dist -w=sqlite -b=%REVISION% -r=3.7.0
popd</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>MapGuide Open Source x64</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>