  <MapLayer>
    <Name>%s</Name>
    <ResourceId>%s</ResourceId>
    <Selectable>%s</Selectable>
    <ShowInLegend>%s</ShowInLegend>
    <LegendLabel>%s</LegendLabel>
    <ExpandInLegend>%s</ExpandInLegend>
    <Visible>%s</Visible>
    <Group>%s</Group>
  </MapLayer>
