<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>Sample Fusion Application</title>
<!-- change the source of the following tag to point to your fusion installation -->
<script type="text/javascript" src="../../../lib/fusion.js"></script>

<style type="text/css">
    @import url(../../../jx/css/jxskin-graphic.css);

    #Toolbar .jxToolbar {
        /*width: 100%;*/
    }


    #Map {
        border-right: 1px solid #999;
        border-bottom: 1px solid #999;
    }

    #Maptip {
        display: none;
        border: 1px solid #000;
        background-color: #E5DAC7;
        padding: 4px;
    }

</style>
<!--[if IE]>
<style>
</style>
<![endif]-->
<script type="text/javascript">
Fusion.useCompressed = false;   //true means use compressed versions of libraries
                               //set to false for debugging
window.onload = function() {
    /* make 'thePage' just fill the browser window and resize automagically
       the user resizes the browser */
    new Jx.Layout('thePage');
    /* the height of toolbars.  For jxskin-border,
     * its 28 and for jxskin-graphic its 30 */
    var h = 30;
    new Jx.Layout('Main', {bottom: null, right: null});
    new Jx.Layout('Toolbar', {height: h, bottom: null});
    new Jx.Layout('Map', {top: h});

    $('thePage').resize();
    $('thePage').style.visibility = 'visible';

    Fusion.registerForEvent(Fusion.Event.FUSION_INITIALIZED, fusionInitialized);
    Fusion.registerForEvent(Fusion.Event.FUSION_ERROR, fusionError);
    Fusion.initialize();
}

function fusionError(eventId, error) {
    console.log('Fusion Error: \n' + error.toString());
}

function fusionInitialized() {
    $('thePage').resize();
}

</script>
</head>

<body>
<div id="thePage" style="visibility: hidden">
    <div id="Main">
        <div id="Toolbar"></div>
        <div id="Map">
            <div id="Navigator"></div>
        </div>
    </div>
</div>
</body>
</html>
