<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>-1</daysToKeep>
    <numToKeep>1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>FDO_BUILD_SRC64</name>
          <description>FDO Source directory</description>
          <defaultValue>C:\working\sources\fdo-3.8</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>FDO_VERSION64</name>
          <description>FDO Version Number (major.minor.rev)</description>
          <defaultValue>3.8.1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>CLEAR_WORKING_AREA</name>
          <description></description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>@echo off
SET FDOMYSQL=%MG_LIB_ROOT%\fdo_rdbms_thirdparty\mysql_x64
SET FDOORACLE=%MG_LIB_ROOT%\fdo_rdbms_thirdparty\oracle_x64\instantclient\11.2\sdk
SET FDO_BUILD_OUTPUT64=%MG_BUILD_ARTIFACT_PATH%\fdo\%FDO_VERSION64%\x64_vc10
SET FDO_BIN_EXTRAS64=%MG_LIB_ROOT%\fdo_extras\%FDO_VERSION64%\x64
SET REVNUM_FILE64=%MG_TOOL_PATH%\revnum.pl
SET FDO_STAMP_FILE64=%MG_BUILD_ARTIFACT_PATH%\last_fdo_%FDO_VERSION64%_revision_x64.txt
SET FDO_WORKING_AREA64=%MG_BUILD_AREA%\FDO\%FDO_VERSION64%\x64

echo ============ Env Vars for FDO Build =====================
echo FDOMYSQL           = %FDOMYSQL%
echo FDOORACLE          = %FDOORACLE%
echo FDO_BUILD_OUTPUT64 = %FDO_BUILD_OUTPUT64%
echo FDO_BIN_EXTRAS64   = %FDO_BIN_EXTRAS64%
echo REVNUM_FILE64      = %REVNUM_FILE64%
echo FDO_STAMP_FILE64   = %FDO_STAMP_FILE64%
echo FDO_WORKING_AREA64 = %FDO_WORKING_AREA64%
echo =========================================================

REM Pre-build checks, nuke artifact dir and working area
echo [prepare]: Clean out build area and build artifacts
if exist %FDO_BUILD_OUTPUT64% rd /S /Q %FDO_BUILD_OUTPUT64%
if &quot;%CLEAR_WORKING_AREA%&quot;==&quot;false&quot; (
    echo [prepare]: Skip cleaning build area
    goto build_fdo
)
if exist %FDO_WORKING_AREA64% rd /S /Q %FDO_WORKING_AREA64%
if not exist %FDO_WORKING_AREA64% mkdir %FDO_WORKING_AREA64%

REM Need to supply --force otherwise it won&apos;t export into the dir we made
echo [prepare]: Exporting SVN working copy to build area
SET BUILD_ACTION=Exporting SVN working copy to build area
svn export %FDO_BUILD_SRC64% %FDO_WORKING_AREA64% --force
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error

REM Copy non-UAC UpdateVersion
echo [prepare]: Copy non UAC-gimped UpdateVersion
SET BUILD_ACTION=Copy non UAC-gimped UpdateVersion
copy /Y %MG_TOOL_PATH%\UpdateVersion.exe %FDO_WORKING_AREA64%\Thirdparty\util\UpdateVersion\bin
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error

REM Prepare for Windows SDK 7.1 C++ compiler
echo [prepare]: Enabling build settings for compilation with Windows 7.1 SDK C++ compiler
SET BUILD_ACTION=Enabling build settings for compilation with Windows 7.1 SDK C++ compiler
call %MG_TOOL_PATH%\fdo_enable_vcexpress64.bat %FDO_WORKING_AREA64%
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error

:build_fdo
echo [prepare]: Noting SVN revision
pushd %FDO_BUILD_SRC64% 
REM If we ever do implement CI build triggers, remove this update command
svn info . | perl %REVNUM_FILE64% &gt; revision.txt
set /p REVISION= &lt; revision.txt
copy /Y revision.txt %FDO_STAMP_FILE64%
popd

pushd %FDO_WORKING_AREA64%
echo [build]: Set env vars
call &quot;%WINDOWS_SDK_71_ROOT%\Bin\SetEnv.cmd&quot; /release /x64
call setenvironment.bat x64 VC10

echo [build]: build thirdparty
SET BUILD_ACTION=Build FDO Thirdparty
call build_thirdparty.bat -p=x64 -a=buildinstall -o=%FDO_BUILD_OUTPUT64%
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error

echo [build]: build core and providers
SET BUILD_ACTION=Build FDO core/providers
call build.bat -p=x64 -a=buildinstall -o=%FDO_BUILD_OUTPUT64%
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error

if not exist %FDO_BIN_EXTRAS64% goto pack
echo [build]: Overlaying FDO extras to build artifacts
pushd %FDO_BIN_EXTRAS64%
copy /Y *.* %FDO_BUILD_OUTPUT64%\Fdo\Bin
popd
:pack
echo [build]: Pack files
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT64%\Fdo -o=%FDO_BUILD_OUTPUT64%\dist -w=fdo -b=%REVISION% -r=%FDO_VERSION_64%
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT64%\Fdo -o=%FDO_BUILD_OUTPUT64%\dist -w=shp -b=%REVISION% -r=%FDO_VERSION_64%
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT64%\Fdo -o=%FDO_BUILD_OUTPUT64%\dist -w=sdf -b=%REVISION% -r=%FDO_VERSION_64%
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT64%\Fdo -o=%FDO_BUILD_OUTPUT64%\dist -w=wfs -b=%REVISION% -r=%FDO_VERSION_64%
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT64%\Fdo -o=%FDO_BUILD_OUTPUT64%\dist -w=wms -b=%REVISION% -r=%FDO_VERSION_64%
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT64%\Fdo -o=%FDO_BUILD_OUTPUT64%\dist -w=rdbms -b=%REVISION% -r=%FDO_VERSION_64%
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT64%\Fdo -o=%FDO_BUILD_OUTPUT64%\dist -w=mysql -b=%REVISION% -r=%FDO_VERSION_64%
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT64%\Fdo -o=%FDO_BUILD_OUTPUT64%\dist -w=odbc -b=%REVISION% -r=%FDO_VERSION_64%
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT64%\Fdo -o=%FDO_BUILD_OUTPUT64%\dist -w=sqlspatial -b=%REVISION% -r=%FDO_VERSION_64%
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT64%\Fdo -o=%FDO_BUILD_OUTPUT64%\dist -w=gdal -b=%REVISION% -r=%FDO_VERSION_64%
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT64%\Fdo -o=%FDO_BUILD_OUTPUT64%\dist -w=kingoracle -b=%REVISION% -r=%FDO_VERSION_64%
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT64%\Fdo -o=%FDO_BUILD_OUTPUT64%\dist -w=ogr -b=%REVISION% -r=%FDO_VERSION_64%
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT64%\Fdo -o=%FDO_BUILD_OUTPUT64%\dist -w=sqlite -b=%REVISION% -r=%FDO_VERSION_64%
popd
goto end
:error
echo An error occurred while building FDO: %BUILD_ACTION%
exit /b 1
:end
exit /b 0</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.tasks.BuildTrigger>
      <childProjects>MapGuide Open Source 2.5 x64</childProjects>
      <threshold>
        <name>SUCCESS</name>
        <ordinal>0</ordinal>
        <color>BLUE</color>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>