/********************************************************
  Noble Studios - 05/21/07
  ns_adsk.css
  Mapguide Layout
********************************************************/

html {
  height: 100%;
  overflow:  hidden;
}

body {
  width:  100%;
  height:  100%;
  overflow:  hidden;
  background-image: url(../images/background.gif);
  background-repeat: repeat-y;
  background-color: #70b0db;
}

  
body, table {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
}

img {
  border: none;
}

/**********************************************************
  Clear fix for more semantic clearing of elements
**********************************************************/
/* Clear fix for floated elements */
/* .clearfix:after {content: "."; display: block; height: 0px; clear: both; visibility: hidden;} */
/* .clearfix  {display: inline-block;} */

/* Hack Hides from IE-mac \*/
/* * html .clearfix  {height:  1%;}*/
/* .clearfix  {display:  block;} */
/* End hide from IE-mac */
  

/********************************************************
  Overall Structure
********************************************************/
#AppContainer {

}

#PageContainer {
}

#Map {
  position: absolute;
  background-color: #ffffff;
  overflow: hidden;
  border: 1px solid #ffffff;
  left: 25px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 0;
  overflow: hidden;
}

#Maptip {
    display: none;
    border: 1px solid #000;
    background-color: #E5DAC7;
    padding: 4px;
    font-size: 10px;
}

#Left {
  overflow: hidden;
}

#OverviewMap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/**********************************************************
  Horizontal Toolbar
**********************************************************/

#Toolbar {
  z-index: 100;
  border: 1px solid #ffffff;
  background-image: url(../images/toolListBackground.gif);
  background-repeat: repeat-x;
  background-color: #ffffff;
}

#Toolbar ul.jxToolbar {
  width: 1000%;
}

#Toolbar a.jxButton {
  padding: 3px 1px; 
}

#Toolbar a.jxButton:hover {
  background-color: #ffe273;
}

#Toolbar a.jxButtonActive {
  background-color: #ffd533;
}

#Toolbar .jxToolItem {
  padding: 0px;
  margin: 0px;
}

#Toolbar .jxButtonMenu a span.jxButtonEmptyLabel, 
#Toolbar a.jxButtonFlyout span.jxButtonEmptyLabel  {
  overflow:  visible;
}

#Toolbar a.jxButtonMenu span.jxButtonSpan, 
#Toolbar a.jxButtonFlyout span.jxButtonSpan  {
  background-image:  url(../images/iconFileMenuDownArrow.gif);
}

#Toolbar ul.jxMenu a.jxButton, 
#Toolbar ul.jxSubMenu a.jxButton {
  padding: 0px;
}

#Toolbar ul.jxMenu a.jxButton:hover, 
#Toolbar ul.jxSubMenu a.jxButton:hover {
  background-color: #fef7dd;
}

  
  
/**********************************************************
  Vertical Toolbar
**********************************************************/

#ToolbarVertical {
  z-index: 100;
  border: 1px solid #a9bde0;
  background-image: url(../images/verticalMenuBar.gif);
  background-repeat: repeat-x;
  background-position: top;
  background-color: #ffffff;
}

#ToolbarVertical a.jxButton {
  padding: 3px 1px; 
}

#ToolbarVertical a.jxButton:hover {
  background-color: #ffe273;
}

#ToolbarVertical a.jxButtonActive {
  background-color: #ffd533;
}

#ToolbarVertical .jxToolItem {
  padding: 0px;
  margin: 0px;
}

#ToolbarVertical .jxButtonMenu a span.jxButtonEmptyLabel, 
#ToolbarVertical a.jxButtonFlyout span.jxButtonEmptyLabel  {
  overflow:  visible;
}

#ToolbarVertical a.jxButtonMenu span.jxButtonSpan, 
#ToolbarVertical a.jxButtonFlyout span.jxButtonSpan  {
  background-image:  url(../images/iconFileMenuDownArrow.gif);
}

#ToolbarVertical ul.jxMenu a.jxButton, 
#ToolbarVertical ul.jxSubMenu a.jxButton {
  padding: 0px;
}

#ToolbarVertical ul.jxMenu a.jxButton:hover, 
#ToolbarVertical ul.jxSubMenu a.jxButton:hover {
  background-color: #FEF7DD;
}
  
#linkTaskMenu {
  position: absolute;
  right: 15px;
}
  
/********************************************************
  FileMenu
********************************************************/
#FileMenu {
  margin: 0px;
  padding: 0px;
  z-index: 1;
}


#FileMenu ul.jxToolbar {
  height: 18px;
}

#FileMenu a.jxButton {
  padding: 1px 6px;
  margin: 0px;
  font-size: 11px;
  border: none;
}

#FileMenu a.jxButton:hover {
  padding: 0px 5px;
  font-size: 11px;
  text-decoration: none;
  border: 1px solid #a9bde0;
  background-color: #77a4c2;
}

#FileMenu span.jxButtonLabel {
  color: #fff;
}

#FileMenu a.jxButtonMenu span.jxButtonContent, 
#FileMenu a.jxButtonFlyout span.jxButtonContent {
  padding: 0px;
}

#FileMenu ul.jxMenu a.jxButton:hover, 
#FileMenu ul.jxSubMenu a.jxButton:hover {
  background-color: #DDE8F0;
  border-color: #fff;
}

#FileMenu ul.jxMenu span.jxButtonLabel, 
#FileMenu ul.jxSubMenu span.jxButtonLabel {
  color: #000;
}

/********************************************************
  Status bar
********************************************************/

#StatusbarContainer {
    background-color: #ffefb0;
    border: 1px solid #ffffff;
    color: #11449e;
    line-height: 21px;
    font-size: 11px;
    vertical-align: middle;
}

#Statusbar .jxSplitterBar {
    width: 1px;
    border-left: 1px solid #999;
    border-right: 1px solid #fff;
    cursor: 'col-resize';
    margin-top: 1px;
}

#Statusbar .spanCursorPosition, 
#Statusbar .spanViewSize, 
#Statusbar .spanSelectionInfo {
  padding: 4px 10px;
}

.inputEditableScale {
  font: normal 10px Verdana, Arial, Helvetica, sans-serif;
}

#pbmg {
  position: absolute;
  right: 1px;
  padding-top: 0px;
}
  
/********************************************************
  Sidebar
********************************************************/
#Left .jxPanelBar {
  position: relative;
  overflow: hidden;
}

#Left .jxPanelTitle {
  font: bold 11px Verdana, Arial, Helvetica, sans-serif;
  color: #ffffff;
  letter-spacing: -.8px;
  position: relative;
  overflow: hidden;
  height: 25px;
  border-bottom: 1px solid #000000;
  display: block;
}

#Left .jxPanelLabel {
  height: 25px;
  display: block;
  width: 75px;
  margin-left: 10px;
}

#Left .jxPanelMaximize {
  display: block;
  float: left;
  padding: 0 5px;
  z-index: 2;
}

#TaskTools {
  padding: 5px 8px;
  background-image: url(../images/moduleTaskToolbarBackground.gif);
  background-repeat: no-repeat;
  width: 206px;
  overflow: hidden;
}

#TaskPane {
  padding: 2px 3px 2px 3px;
  border-top: 1px solid #8d9aa3;
  bottom: 0px;
  background-color: #ffffff;
  width: 199px;
  height: 273px;
  overflow: auto;
}

#TaskTools_TaskMenu {
  float: right;
  margin-right: 20px;
}

/**********************************************************
  Sidebar Tabs
**********************************************************/
#Left {
  
}

#Left .tabContent {
  background-image: url(../images/moduleBackground.gif);
  background-repeat: repeat-x;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-top: none;
  padding-left: 3px;
  padding-top: 3px;
  padding: 3px 3px 0 3px;
}

#Left .jxToolbarContainer {
  padding: 0px;
  margin: 0px;
}

  #TaskNav ul.jxToolbar {
    background: red;
  }


#Left .jxBarTop ul.jxToolbar {
  margin: 0px;
  padding: 0px;
  height: 25px;
  background-image: url(../images/tabSetBackground.gif);
  background-repeat: repeat-x;
  background-color: #ffffff;
  background-position: 1px 1px;
  width: 100%;
}

#Left .jxBarTop li.jxTabItem {
  padding: 0px;
  margin: 0px;
  height: 25px;
  text-align: center;
}

#Left .jxBarTop a.jxTab {
  padding: 0px;
  margin: 0px;
  height: 25px;
  width: auto;
  text-align: center;
  text-decoration: none;
}

#Left .jxBarTop a.jxTab:hover, 
#Left .jxBarTop a.jxTab:active {
  text-decoration: underline;
}

#Left .jxBarTop a.jxTab {
  padding: 0px 0px 0px 10px;
}

#Left .jxBarTop a.jxTab span.jxButtonSpan {
  padding: 5px 10px 0px 0px;
  height: 20px;
  color: #11449e;
}

#Left .jxBarTop a.tabActive {
  background-image: url(../images/taskTabSD_Left.gif);
  background-repeat: no-repeat;
  background-position: left top;
}

#Left .jxBarTop a.tabActive span.jxButtonSpan {
  background-image: url(../images/taskTabSD_Right.gif);
  background-repeat: no-repeat;
  background-position: right top;
}

#Left .jxBarTop a.jxTab span.jxButtonLabel {
  padding: 3px 0 0 0px;
  text-align: center;
  color: #11449E;
  font-weight: bold;
}

#LegendContainer.tabContent {
    overflow: auto;
    padding: 0 0 2px 0;
}

#Legend {
    background-color: #fff;
    background-image: none;
    overflow: auto;
    /*
    border: 0px solid #000;
    margin: 0 0 4px 0;
  */
}


#TaskPane {
  overflow: hidden;
}

.inputEditableScale {
  font: normal 11px Verdana, Arial, Helvetica, sans-serif;
}

#Navigator {
  position: absolute;
  right: 10px;
  top: 0px;
  display: block;
  z-index: 100;
}

/* Override StatusOverviewMap button style */
#StatusOverviewMap a.jxButton {
  padding: 1px;
  margin-top: 0;
}

#StatusOverviewMap span.jxButtonIcon {
  padding-left: 10px;
}

#StatusOverviewMap {
  position: absolute;
  right: 140px;
  top: 2px;
  padding: 0;
}

#StatusOverviewMap .jxButtonContainer {
  padding: 0;
}

#StatusOverviewMap span.jxButtonIcon {
  background-position: left center;
}

.jxTree a, .jxTreeRoot a {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

  