<html>
<head>
<title>__#QUICKPLOT_HEADER#__</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
body, table, td, div, input
{
    font: 9pt/1.5em __#@font#__;
}

td.LegalNotice
{
    font-size: 8pt;
}

input.Button
{
    width:75px;
    height:23px;
    margin-left:7px;
}
</style>

<style type="text/css" media="screen">
#PrintPicture { }

.PrintOnly
{
    display:none;
}
</style>

<style type="text/css" media="print">
#PrintPicture { }
input.Button
{
    visibility:hidden;
}

.ScreenOnly
{
    display: none;
}
</style>

<script language="javascript" type="text/javascript" src="%sQuickPlotPreview.js"></script>
</head>
<body style="margin:0px" onLoad="innerLoaded()">
<table cellspacing="10" cellpadding="0" style="width:100%%; border-width:0px" id="PreviewContainer">
  <tr>
    <td><table style="width:100%%" border="0" cellspacing="0" cellpadding="0" id="AnnotationContainer">
        <tr>
          <td style="width:100%%">{field:title}</td>
          <!-- 
            The date format mask follows the php date() function's instruction
            see also here for more reference: http://cn.php.net/manual/en/function.date.php
           -->
          <td style="white-space:nowrap">{date:m/d/Y}</td>
        </tr>
        <tr>
          <td>{field:sub_title}</td>
          <td style="white-space:nowrap">__#QUICKPLOT_SCALE_LABEL#__: {scale}</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td id="PictureContainer" style="border: solid 1px black; text-align:center; vertical-align:center;">
        <img style="width:1px; background:url(progress_indicator.gif) no-repeat center center" id="ProgressIndicator" src="pixel.gif" />
        <img style="width:1px" id="PrintPicture" src="pixel.gif" />
        <span id="PictureLoadingErrorMessage" style="display:none; text-align:center">__#QUICKPLOT_PREVIEW_ERROR#__</span>
    </td>
  </tr>
  <tr>
    <td><table width="100%%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <!-- Legal notice. Just replace it with the necessary statement -->
          <td style="width:100%%" class="LegalNotice" id="legalNotice">}</td>
          <td style="white-space:nowrap"><input type="button" id="PrintButton" class="Button" onClick="printIt()" value="__#QUICKPLOT_PRINT#__" /><input type="button" id="CancelButton" class="Button" onClick="cancelPreview()" value="__#QUICKPLOT_CANCEL#__" />
          </td>
        </tr>
      </table></td>
  </tr>
</table>
</body>
</html>
