<Unit>Points</Unit>
<SizeContext>DeviceUnits</SizeContext>
<SizeX>%s</SizeX>
<SizeY>%s</SizeY>
<Rotation>0</Rotation>
<Text>%s</Text>
<FontName>Arial</FontName>
<ForegroundColor>%s</ForegroundColor>
<BackgroundColor>FF000000</BackgroundColor>
<BackgroundStyle>Transparent</BackgroundStyle>
<HorizontalAlignment>Center</HorizontalAlignment>
<VerticalAlignment>Baseline</VerticalAlignment>
<Bold>false</Bold>
<Italic>false</Italic>
<Underlined>false</Underlined>
