<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(Default)</jdk>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>@echo off

SET VCBEXTENSION=_vs10
SET VC_COMPILER=vc100
SET ACTIVENAMECHECK=&quot;Microsoft Visual Studio 10&quot;
SET ACTIVEPATHCHECK=&quot;C:\Program Files\Microsoft Visual Studio 10.0\VC&quot;
if exist %ACTIVEPATHCHECK% goto VSExist else exit 1
SET ACTIVEPATHCHECK=&quot;C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC&quot;
if exist %ACTIVEPATHCHECK% goto VSExist else exit 1
:VSExist
call %ACTIVEPATHCHECK%\vcvarsall.bat x86

SET MG_VER_MAJOR=2
SET MG_VER_MINOR=5
SET MG_VER_BUILD=0
SET MG_VER_MAJOR_MINOR=%MG_VER_MAJOR%.%MG_VER_MINOR%
SET MG_VER_MAJOR_MINOR_BUILD=%MG_VER_MAJOR_MINOR%.%MG_VER_BUILD%
SET FDO_VER_MAJOR_MINOR=3.8

SET FDO_SRC=C:\builds\fdo\%FDO_VER_MAJOR_MINOR%\x86_vc10\Fdo
SET BUILD_SRC=C:\mg-%MG_VER_MAJOR_MINOR%-x86
SET CURRENT_DIR=C:\builds\
SET BUILD_OUTPUT=C:\builds\mapguide\%MG_VER_MAJOR_MINOR%\x86\release
SET JAVA_HOME=C:\Program Files (x86)\Java\jdk1.7.0_03
SET ANT_HOME=C:\apache-ant-1.8.3
SET DOXYGEN=C:\Program Files\doxygen\bin
pushd %BUILD_SRC%\MgDev\Desktop
if exist bin rd /S /Q bin
if exist lib rd /S /Q lib
if exist obj rd /S /Q obj
popd
pushd %BUILD_SRC%\MgDev\Desktop\DesktopUnmanagedApi\DotNet
if exist Backup rd /S /Q Backup
if exist DesktopCustom rd /S /Q DesktopCustom
del *.cs
del MgDesktopApi_wrap.cpp
del MapGuideDesktopApi.i
popd
pushd %BUILD_SRC%\MgDev
set /p REVISION= &lt; C:\builds\last_mg_x86_revision.txt
cscript updateversion.vbs /major:%MG_VER_MAJOR% /minor:%MG_VER_MINOR% /point:%MG_VER_BUILD% /build:%REVISION%
echo [build]: Set env vars
call setenvironment.bat vc10
echo [build]: mg-desktop
call build_desktop.bat
echo [clean]: Nuget package temp files
pushd %BUILD_SRC%\MgDev\nuget
call package_clean.bat
popd
echo [build]: Nuget packages
call nuget_prepare.bat %MG_VER_MAJOR_MINOR_BUILD%.%REVISION% x86
call nuget_pack.bat x86
echo [deploy]: Copy nupkg files to output
pushd %BUILD_SRC%\MgDev\nuget
move *.nupkg C:\builds\
popd
pushd %BUILD_SRC%\MgDev\Release
7z a -mx9 C:\builds\mg-desktop-%MG_VER_MAJOR_MINOR_BUILD%.%REVISION%-net40-vc10-x86.zip Desktop DesktopSamples
popd</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>