# OpenLayers build configuration file for building OL with required elements 
# for Fusion

[first]
OpenLayers/SingleFile.js
OpenLayers.js
OpenLayers/Util.js
OpenLayers/Console.js
OpenLayers/BaseTypes.js
OpenLayers/BaseTypes/Class.js
OpenLayers/BaseTypes/Size.js
OpenLayers/BaseTypes/Bounds.js
OpenLayers/BaseTypes/Element.js
OpenLayers/BaseTypes/LonLat.js
OpenLayers/BaseTypes/Pixel.js

[last]

[include]
OpenLayers/Events.js
OpenLayers/Map.js
OpenLayers/Layer.js
OpenLayers/Layer/Grid.js
OpenLayers/Layer/HTTPRequest.js
OpenLayers/Layer/WMS.js
OpenLayers/Layer/MapGuide.js
OpenLayers/Layer/MapServer.js
OpenLayers/Tile.js
OpenLayers/Tile/Image.js
OpenLayers/Control/OverviewMap.js
OpenLayers/Control/Navigation.js
OpenLayers/Control/PanZoom.js
OpenLayers/Control/ArgParser.js
OpenLayers/Projection.js

[exclude]
Firebug/firebug.js
Firebug/firebugx.js
