<?xml version="1.0" encoding="UTF-8"?>
<MapDefinition xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="MapDefinition-1.0.0.xsd">
  <Name>%s</Name>
  <CoordinateSystem>%s</CoordinateSystem>
  %s
  <BackgroundColor>%s</BackgroundColor>
  %s
  %s
</MapDefinition>
