  <MapLayerGroup>
    <Name>%s</Name>
    <Visible>%s</Visible>
    <ShowInLegend>%s</ShowInLegend>
    <ExpandInLegend>%s</ExpandInLegend>
    <LegendLabel>%s</LegendLabel>
    <Group/>
  </MapLayerGroup>
