<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>1</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>_FDO_BUILD_SRC</name>
          <description>FDO Source directory, relative to the configured source root</description>
          <defaultValue>fdo-3.9</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>FDO_VERSION</name>
          <description>FDO Version Number (major.minor.rev)</description>
          <defaultValue>3.9.0</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>CLEAR_WORKING_AREA</name>
          <description>If ticked, will clear the working area first (which may exist from a previous build) before starting the build.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>_FDO_STAMP_FILE_SOURCE</name>
          <description>The file name of the stamped revision file containing the FDO svn revision number. Relative to the global source root</description>
          <defaultValue>fdo_39_revision.txt</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>FDO_RUN_UNIT_TESTS</name>
          <description>Tick to also run any FDO unit tests specified</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>CLEAR_WORKING_AREA_AFTER</name>
          <description>If ticked, will clear the build area after successful build</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <jdk>(System)</jdk>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.BatchFile>
      <command>@echo off&#xd;
SET FDOMYSQL=%MG_LIB_ROOT%\fdo_rdbms_thirdparty\mysql&#xd;
SET FDOORACLE=%MG_LIB_ROOT%\fdo_rdbms_thirdparty\oracle\instantclient\11.2\sdk&#xd;
SET FDOPOSTGRESQL=%MG_LIB_ROOT%\fdo_rdbms_thirdparty\pgsql&#xd;
SET FDO_BUILD_OUTPUT=%MG_BUILD_ARTIFACT_PATH%\fdo\%FDO_VERSION%\x86&#xd;
SET FDO_BIN_EXTRAS=%MG_LIB_ROOT%\fdo_extras\%FDO_VERSION%\x86&#xd;
SET REVNUM_FILE=%MG_TOOL_PATH%\revnum.pl&#xd;
SET FDO_STAMP_FILE=%MG_BUILD_ARTIFACT_PATH%\last_fdo_%FDO_VERSION%_revision_x86.txt&#xd;
SET FDO_WORKING_AREA=%MG_BUILD_AREA%\FDO\%FDO_VERSION%\x86&#xd;
&#xd;
SET FDO_BUILD_SRC=%MG_SOURCES_ROOT%\%_FDO_BUILD_SRC%&#xd;
SET FDO_STAMP_FILE_SOURCE=%MG_SOURCES_ROOT%\%_FDO_STAMP_FILE_SOURCE%&#xd;
&#xd;
echo ============ Build Vars for FDO =========================&#xd;
echo FDO_BUILD_SRC            = %FDO_BUILD_SRC%&#xd;
echo FDO_STAMP_FILE_SOURCE    = %FDO_STAMP_FILE_SOURCE%&#xd;
echo FDO_WORKING_AREA         = %FDO_WORKING_AREA%&#xd;
echo CLEAR_WORKING_AREA_AFTER = %CLEAR_WORKING_AREA_AFTER%&#xd;
echo ============ Env Vars for FDO Build =====================&#xd;
echo FDOMYSQL           = %FDOMYSQL%&#xd;
echo FDOORACLE          = %FDOORACLE%&#xd;
echo FDOPOSTGRESQL      = %FDOPOSTGRESQL%&#xd;
echo FDO_BUILD_OUTPUT   = %FDO_BUILD_OUTPUT%&#xd;
echo FDO_BIN_EXTRAS     = %FDO_BIN_EXTRAS%&#xd;
echo REVNUM_FILE        = %REVNUM_FILE%&#xd;
echo FDO_STAMP_FILE     = %FDO_STAMP_FILE%&#xd;
echo FDO_WORKING_AREA   = %FDO_WORKING_AREA%&#xd;
echo =========================================================&#xd;
&#xd;
REM Pre-build checks, nuke artifact dir and working area&#xd;
echo [prepare]: Clean out build area and build artifacts&#xd;
if exist %FDO_BUILD_OUTPUT% rd /S /Q %FDO_BUILD_OUTPUT%&#xd;
if &quot;%CLEAR_WORKING_AREA%&quot;==&quot;false&quot; (&#xd;
    echo [prepare]: Skip cleaning build area&#xd;
    goto build_fdo&#xd;
)&#xd;
if exist %FDO_WORKING_AREA% rd /S /Q %FDO_WORKING_AREA%&#xd;
if not exist %FDO_WORKING_AREA% mkdir %FDO_WORKING_AREA%&#xd;
&#xd;
REM Need to supply --force otherwise it won&apos;t export into the dir we made&#xd;
echo [prepare]: Exporting SVN working copy to build area&#xd;
SET BUILD_ACTION=Exporting SVN working copy to build area&#xd;
svn export %FDO_BUILD_SRC% %FDO_WORKING_AREA% --force -q&#xd;
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error&#xd;
&#xd;
REM Copy non-UAC UpdateVersion&#xd;
echo [prepare]: Copy non UAC-gimped UpdateVersion&#xd;
SET BUILD_ACTION=Copy non UAC-gimped UpdateVersion&#xd;
copy /Y %MG_TOOL_PATH%\UpdateVersion.exe %FDO_WORKING_AREA%\Thirdparty\util\UpdateVersion\bin&#xd;
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error&#xd;
&#xd;
:build_fdo&#xd;
echo [prepare]: Noting SVN revision&#xd;
set /p REVISION= &lt; &quot;%FDO_STAMP_FILE_SOURCE%&quot;&#xd;
copy /Y &quot;%FDO_STAMP_FILE_SOURCE%&quot; &quot;%FDO_STAMP_FILE%&quot;&#xd;
&#xd;
pushd %FDO_WORKING_AREA%&#xd;
echo [build]: Set env vars&#xd;
call setenvironment.bat x86&#xd;
&#xd;
echo [build]: build thirdparty&#xd;
SET BUILD_ACTION=Build FDO Thirdparty&#xd;
call build_thirdparty.bat -p=Win32 -a=buildinstall -o=%FDO_BUILD_OUTPUT%&#xd;
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error&#xd;
&#xd;
echo [build]: build core and providers&#xd;
SET BUILD_ACTION=Build FDO core/providers&#xd;
call build.bat -p=Win32 -a=buildinstall -o=%FDO_BUILD_OUTPUT%&#xd;
if &quot;%errorlevel%&quot;==&quot;1&quot; goto error&#xd;
&#xd;
if not exist %FDO_BIN_EXTRAS% goto pack&#xd;
echo [build]: Overlaying FDO extras to build artifacts&#xd;
pushd %FDO_BIN_EXTRAS%&#xd;
copy /Y *.* %FDO_BUILD_OUTPUT%\Fdo\Bin&#xd;
popd&#xd;
&#xd;
:pack&#xd;
echo [build]: Pack files&#xd;
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT%\Fdo -o=%FDO_BUILD_OUTPUT%\dist -w=fdo -b=%REVISION% -r=%FDO_VERSION%&#xd;
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT%\Fdo -o=%FDO_BUILD_OUTPUT%\dist -w=shp -b=%REVISION% -r=%FDO_VERSION%&#xd;
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT%\Fdo -o=%FDO_BUILD_OUTPUT%\dist -w=sdf -b=%REVISION% -r=%FDO_VERSION%&#xd;
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT%\Fdo -o=%FDO_BUILD_OUTPUT%\dist -w=wfs -b=%REVISION% -r=%FDO_VERSION%&#xd;
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT%\Fdo -o=%FDO_BUILD_OUTPUT%\dist -w=wms -b=%REVISION% -r=%FDO_VERSION%&#xd;
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT%\Fdo -o=%FDO_BUILD_OUTPUT%\dist -w=rdbms -b=%REVISION% -r=%FDO_VERSION%&#xd;
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT%\Fdo -o=%FDO_BUILD_OUTPUT%\dist -w=mysql -b=%REVISION% -r=%FDO_VERSION%&#xd;
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT%\Fdo -o=%FDO_BUILD_OUTPUT%\dist -w=odbc -b=%REVISION% -r=%FDO_VERSION%&#xd;
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT%\Fdo -o=%FDO_BUILD_OUTPUT%\dist -w=sqlspatial -b=%REVISION% -r=%FDO_VERSION%&#xd;
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT%\Fdo -o=%FDO_BUILD_OUTPUT%\dist -w=gdal -b=%REVISION% -r=%FDO_VERSION%&#xd;
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT%\Fdo -o=%FDO_BUILD_OUTPUT%\dist -w=kingoracle -b=%REVISION% -r=%FDO_VERSION%&#xd;
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT%\Fdo -o=%FDO_BUILD_OUTPUT%\dist -w=ogr -b=%REVISION% -r=%FDO_VERSION%&#xd;
rem call createtarzipbinfiles.bat -i=%FDO_BUILD_OUTPUT%\Fdo -o=%FDO_BUILD_OUTPUT%\dist -w=sqlite -b=%REVISION% -r=%FDO_VERSION%&#xd;
popd&#xd;
&#xd;
if &quot;%FDO_RUN_UNIT_TESTS%&quot;==&quot;false&quot; goto end&#xd;
:fdo_unit_tests&#xd;
pushd %FDO_WORKING_AREA%\Fdo\Unmanaged\Bin\Win32\Release&#xd;
UnitTest.exe -NoWAIT &gt; %FDO_BUILD_OUTPUT%\fdocore_unittest.log&#xd;
popd&#xd;
pushd %FDO_WORKING_AREA%\Providers\SHP\Src\UnitTest&#xd;
..\..\Bin\Win32\Release\UnitTest.exe -NoWAIT &gt; %FDO_BUILD_OUTPUT%\shp_unittest.log&#xd;
popd&#xd;
pushd %FDO_WORKING_AREA%\Providers\SDF\Src\UnitTest&#xd;
..\..\Bin\Win32\Release\UnitTest.exe -NoWAIT &gt; %FDO_BUILD_OUTPUT%\sdf_unittest.log&#xd;
popd&#xd;
pushd %FDO_WORKING_AREA%\Providers\SQLite\Src\UnitTest&#xd;
..\..\Bin\Win32\Release\UnitTest.exe -NoWAIT &gt; %FDO_BUILD_OUTPUT%\sqlite_unittest.log&#xd;
popd&#xd;
pushd %FDO_WORKING_AREA%\Providers\GDAL\Src\UnitTest&#xd;
..\..\Bin\Win32\Release\UnitTest.exe -NoWAIT &gt; %FDO_BUILD_OUTPUT%\gdal_unittest.log&#xd;
popd&#xd;
REM pushd %FDO_WORKING_AREA%\Providers\WMS\Src\UnitTest&#xd;
REM ..\..\Bin\Win32\Release\UnitTest.exe -NoWAIT &gt; %FDO_BUILD_OUTPUT%\wms_unittest.log&#xd;
REM popd&#xd;
goto end&#xd;
&#xd;
:error&#xd;
echo An error occurred while building FDO: %BUILD_ACTION%&#xd;
exit /b 1&#xd;
:end&#xd;
if &quot;%CLEAR_WORKING_AREA_AFTER%&quot;==&quot;true&quot; (&#xd;
    echo [prepare]: Clearing build area (%FDO_WORKING_AREA%)&#xd;
    rd /S /Q %FDO_WORKING_AREA%&#xd;
)&#xd;
exit /b 0</command>
    </hudson.tasks.BatchFile>
  </builders>
  <publishers>
    <hudson.plugins.textfinder.TextFinderPublisher plugin="text-finder@1.10">
      <regexp>!!!FAILURES!!!</regexp>
      <succeedIfFound>false</succeedIfFound>
      <unstableIfFound>true</unstableIfFound>
      <alsoCheckConsoleOutput>true</alsoCheckConsoleOutput>
    </hudson.plugins.textfinder.TextFinderPublisher>
    <hudson.tasks.BuildTrigger>
      <childProjects>MapGuide Open Source 2.6 x86</childProjects>
      <threshold>
        <name>UNSTABLE</name>
        <ordinal>1</ordinal>
        <color>YELLOW</color>
        <completeBuild>true</completeBuild>
      </threshold>
    </hudson.tasks.BuildTrigger>
  </publishers>
  <buildWrappers/>
</project>